3x_hm_v010.json
[
    {
        "id": "43c2bb30f6badb7e",
        "type": "tab",
        "label": "4x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aebca03080772ef5",
        "type": "group",
        "z": "43c2bb30f6badb7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2453c304fbba7897",
            "9674cc12adba1a99",
            "4cbedd2512a6e272",
            "761326ac52c8b413",
            "f6dcda6dc1a8d089",
            "aeeea89922d3a62c",
            "3d5df9cdce3c8883",
            "919bdee4c897b662",
            "d3324beaf87ac0a3",
            "17e66bf96c4aa929",
            "93fd3aafe89b913a",
            "40ba199fba1534ee",
            "ccfd4879c6cd98c4",
            "85b46a858d59a5e5",
            "fc5b7efeed07b48f",
            "ca89c137c38227f8",
            "dfbe86c3e420e96c",
            "7a2c480ed06b4d5c"
        ],
        "x": 34,
        "y": 159,
        "w": 992,
        "h": 442
    },
    {
        "id": "4c4a937655b952ec",
        "type": "group",
        "z": "43c2bb30f6badb7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9357122e24cc95f7",
            "0c661d57da79eea4",
            "a21e9112093a0abb",
            "34464c9ce0a3d5a1",
            "6465f208ee40a167",
            "38295fa5ae1acf9c",
            "b6c65f6a109f34f6",
            "9e07a90b27d30925",
            "c05c572a73f4b6a2",
            "6eb4c35dc054a77b",
            "d9acb291c00fb2f8",
            "8b6d6c23f308b4d4",
            "b8786797d7e8569f",
            "6c6de410102bcdac",
            "a4c315c51dc6f1fd",
            "74ede375b83f0a79",
            "4563097e734c6af2",
            "781a582f8fbea2da",
            "81e2bf307d71496b"
        ],
        "x": 34,
        "y": 1599,
        "w": 1212,
        "h": 422
    },
    {
        "id": "f1d3b2e73c554e1b",
        "type": "group",
        "z": "43c2bb30f6badb7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "963dcea7135cf771",
            "9aee0796e6d57834",
            "9086ecef298e45d4",
            "2590ac315a991822",
            "913b033a28d950f5",
            "ce82b4160a976622",
            "3848d6ba60db07cf",
            "ef66893cba88f2cd",
            "d6cf352450f6b119",
            "14a9c788752276f7",
            "3ea5aae87e552794",
            "be1aa0e0163ca3db",
            "5be11590a508dbb0",
            "88d6e8a876d1166b",
            "32bee9c0e00c5f70",
            "78e53affd25fe844",
            "1e3cfb5144872368",
            "dcb9a3a1f4c43ad9"
        ],
        "x": 34,
        "y": 639,
        "w": 992,
        "h": 442
    },
    {
        "id": "36e22d68c0dad9c4",
        "type": "group",
        "z": "43c2bb30f6badb7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "47fb04a4dc87ce59",
            "6e613fe84cf5b001",
            "04bca332f8e408ca",
            "45c0c7af8e027142",
            "d42057f78ed3b751",
            "c8c5b13bde1dc663",
            "7988633b2cf792a5",
            "826180368461ab4d",
            "3d2b4e8ed7f38f89",
            "5d643b031fe03da3",
            "bf8670f68562257a",
            "7178ef1b69c991f8",
            "696bb3d3dadab408",
            "dc5e0833e683f822",
            "f0a1a520f4beb20b",
            "4e710ff1f8d2dd4a",
            "b45b0f352de59117",
            "3cfc3fc7aed0355e"
        ],
        "x": 34,
        "y": 1119,
        "w": 992,
        "h": 442
    },
    {
        "id": "f846656022ddfbc7",
        "type": "group",
        "z": "43c2bb30f6badb7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "24bc48bc37fd2a6b"
        ],
        "x": 34,
        "y": 39,
        "w": 372,
        "h": 82
    },
    {
        "id": "ccfd4879c6cd98c4",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "85b46a858d59a5e5",
        "type": "inject",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "ccfd4879c6cd98c4"
            ]
        ]
    },
    {
        "id": "2453c304fbba7897",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "aeeea89922d3a62c",
                "3d5df9cdce3c8883",
                "dfbe86c3e420e96c"
            ]
        ]
    },
    {
        "id": "9674cc12adba1a99",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "group": "ae4b0323bc3148ef",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cbedd2512a6e272",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "919bdee4c897b662"
            ]
        ]
    },
    {
        "id": "761326ac52c8b413",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "group": "ae4b0323bc3148ef",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc5b7efeed07b48f",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "f6dcda6dc1a8d089",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "group": "ae4b0323bc3148ef",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "aeeea89922d3a62c",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "17e66bf96c4aa929"
            ]
        ]
    },
    {
        "id": "3d5df9cdce3c8883",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "93fd3aafe89b913a"
            ]
        ]
    },
    {
        "id": "919bdee4c897b662",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "40ba199fba1534ee"
            ]
        ]
    },
    {
        "id": "9357122e24cc95f7",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Regelung Hoymiles Speicher",
        "info": "",
        "x": 180,
        "y": 1640,
        "wires": []
    },
    {
        "id": "0c661d57da79eea4",
        "type": "shelly-gen2",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "500",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 140,
        "y": 1720,
        "wires": [
            [
                "a21e9112093a0abb",
                "a4c315c51dc6f1fd",
                "74ede375b83f0a79",
                "4563097e734c6af2"
            ]
        ]
    },
    {
        "id": "a21e9112093a0abb",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "34464c9ce0a3d5a1"
            ]
        ]
    },
    {
        "id": "34464c9ce0a3d5a1",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1720,
        "wires": [
            [
                "b6c65f6a109f34f6"
            ]
        ]
    },
    {
        "id": "6465f208ee40a167",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1780,
        "wires": []
    },
    {
        "id": "38295fa5ae1acf9c",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "PI-Regler L1",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1780,
        "wires": [
            [
                "6465f208ee40a167"
            ]
        ]
    },
    {
        "id": "d3324beaf87ac0a3",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Speicher 1",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "17e66bf96c4aa929",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "9674cc12adba1a99"
            ]
        ]
    },
    {
        "id": "93fd3aafe89b913a",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "f6dcda6dc1a8d089",
                "ca89c137c38227f8"
            ]
        ]
    },
    {
        "id": "b6c65f6a109f34f6",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1720,
        "wires": [
            [
                "6c6de410102bcdac"
            ]
        ]
    },
    {
        "id": "40ba199fba1534ee",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "761326ac52c8b413"
            ]
        ]
    },
    {
        "id": "9e07a90b27d30925",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1840,
        "wires": []
    },
    {
        "id": "c05c572a73f4b6a2",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Speicher 3",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1900,
        "wires": []
    },
    {
        "id": "963dcea7135cf771",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "ce82b4160a976622",
                "3848d6ba60db07cf",
                "dcb9a3a1f4c43ad9"
            ]
        ]
    },
    {
        "id": "9aee0796e6d57834",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "group": "be0c9c3cdb9cf8c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "9086ecef298e45d4",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "ef66893cba88f2cd"
            ]
        ]
    },
    {
        "id": "2590ac315a991822",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "group": "be0c9c3cdb9cf8c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 920,
        "wires": []
    },
    {
        "id": "913b033a28d950f5",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "group": "be0c9c3cdb9cf8c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "ce82b4160a976622",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 880,
        "wires": [
            [
                "14a9c788752276f7"
            ]
        ]
    },
    {
        "id": "3848d6ba60db07cf",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "3ea5aae87e552794"
            ]
        ]
    },
    {
        "id": "ef66893cba88f2cd",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "be1aa0e0163ca3db"
            ]
        ]
    },
    {
        "id": "d6cf352450f6b119",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Speicher 2",
        "info": "",
        "x": 120,
        "y": 680,
        "wires": []
    },
    {
        "id": "14a9c788752276f7",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "9aee0796e6d57834"
            ]
        ]
    },
    {
        "id": "3ea5aae87e552794",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 800,
        "wires": [
            [
                "913b033a28d950f5",
                "78e53affd25fe844"
            ]
        ]
    },
    {
        "id": "be1aa0e0163ca3db",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 920,
        "wires": [
            [
                "2590ac315a991822"
            ]
        ]
    },
    {
        "id": "5be11590a508dbb0",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "88d6e8a876d1166b",
        "type": "inject",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "5be11590a508dbb0"
            ]
        ]
    },
    {
        "id": "32bee9c0e00c5f70",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "47fb04a4dc87ce59",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "c8c5b13bde1dc663",
                "7988633b2cf792a5",
                "3cfc3fc7aed0355e"
            ]
        ]
    },
    {
        "id": "6e613fe84cf5b001",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "group": "221ba36230290d7b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1360,
        "wires": []
    },
    {
        "id": "04bca332f8e408ca",
        "type": "mqtt in",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "826180368461ab4d"
            ]
        ]
    },
    {
        "id": "45c0c7af8e027142",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "group": "221ba36230290d7b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d42057f78ed3b751",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "group": "221ba36230290d7b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 1280,
        "wires": []
    },
    {
        "id": "c8c5b13bde1dc663",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1360,
        "wires": [
            [
                "5d643b031fe03da3"
            ]
        ]
    },
    {
        "id": "7988633b2cf792a5",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1280,
        "wires": [
            [
                "bf8670f68562257a"
            ]
        ]
    },
    {
        "id": "826180368461ab4d",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "7178ef1b69c991f8"
            ]
        ]
    },
    {
        "id": "3d2b4e8ed7f38f89",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Speicher 3",
        "info": "",
        "x": 120,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5d643b031fe03da3",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "6e613fe84cf5b001"
            ]
        ]
    },
    {
        "id": "bf8670f68562257a",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "d42057f78ed3b751",
                "4e710ff1f8d2dd4a"
            ]
        ]
    },
    {
        "id": "7178ef1b69c991f8",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1400,
        "wires": [
            [
                "45c0c7af8e027142"
            ]
        ]
    },
    {
        "id": "696bb3d3dadab408",
        "type": "mqtt out",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "dc5e0833e683f822",
        "type": "inject",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 1520,
        "wires": [
            [
                "696bb3d3dadab408"
            ]
        ]
    },
    {
        "id": "f0a1a520f4beb20b",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ca89c137c38227f8",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "78e53affd25fe844",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4e710ff1f8d2dd4a",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "P3",
        "rules": [
            {
                "t": "set",
                "p": "P3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "6eb4c35dc054a77b",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Summe Leistung Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\nlet p3 = global.get(\"P3\") || 0;\n\nlet summe = p1 + p2 + p3;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1980,
        "wires": [
            [
                "b8786797d7e8569f"
            ]
        ]
    },
    {
        "id": "d9acb291c00fb2f8",
        "type": "inject",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 1980,
        "wires": [
            [
                "6eb4c35dc054a77b"
            ]
        ]
    },
    {
        "id": "8b6d6c23f308b4d4",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "group": "bc5985f41122a027",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1980,
        "wires": []
    },
    {
        "id": "b8786797d7e8569f",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1980,
        "wires": [
            [
                "8b6d6c23f308b4d4"
            ]
        ]
    },
    {
        "id": "6c6de410102bcdac",
        "type": "ui_text",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "group": "bc5985f41122a027",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 1720,
        "wires": []
    },
    {
        "id": "24bc48bc37fd2a6b",
        "type": "comment",
        "z": "43c2bb30f6badb7e",
        "g": "f846656022ddfbc7",
        "name": "Node-RED Installationshinweis bitte lesen",
        "info": "1.)\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\n\n2.)\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\n3.)\nDie Seriennummer der Hoymiles Speichers müssen in den MQTT Nodes angepasst werden.\n\n4.)\nMQTT in der Hoymiles App aktivieren.\n\nby Steffen294 03.11.2025",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a2c480ed06b4d5c",
        "type": "ui_button",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Anzeige",
        "group": "ae4b0323bc3148ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dfbe86c3e420e96c",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "aebca03080772ef5",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "7a2c480ed06b4d5c"
            ]
        ]
    },
    {
        "id": "1e3cfb5144872368",
        "type": "ui_button",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Anzeige",
        "group": "be0c9c3cdb9cf8c1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "dcb9a3a1f4c43ad9",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "f1d3b2e73c554e1b",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "1e3cfb5144872368"
            ]
        ]
    },
    {
        "id": "b45b0f352de59117",
        "type": "ui_button",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Anzeige",
        "group": "221ba36230290d7b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "3cfc3fc7aed0355e",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "36e22d68c0dad9c4",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "b45b0f352de59117"
            ]
        ]
    },
    {
        "id": "a4c315c51dc6f1fd",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Leistung L1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.a_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1780,
        "wires": [
            [
                "38295fa5ae1acf9c"
            ]
        ]
    },
    {
        "id": "74ede375b83f0a79",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Leistung L2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.b_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "781a582f8fbea2da"
            ]
        ]
    },
    {
        "id": "4563097e734c6af2",
        "type": "change",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "Leistung L3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.c_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1900,
        "wires": [
            [
                "81e2bf307d71496b"
            ]
        ]
    },
    {
        "id": "781a582f8fbea2da",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "PI-Regler L2",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1840,
        "wires": [
            [
                "9e07a90b27d30925"
            ]
        ]
    },
    {
        "id": "81e2bf307d71496b",
        "type": "function",
        "z": "43c2bb30f6badb7e",
        "g": "4c4a937655b952ec",
        "name": "PI-Regler L3",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "c05c572a73f4b6a2"
            ]
        ]
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "10.10.1.15",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae4b0323bc3148ef",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be0c9c3cdb9cf8c1",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "221ba36230290d7b",
        "type": "ui_group",
        "name": "Speicher 3",
        "tab": "3dbc2bc348a4cead",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc5985f41122a027",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]