3x_hm_v011.json
[
    {
        "id": "c2c0f2c44023cdf4",
        "type": "tab",
        "label": "4x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f73f83d78b22b738",
        "type": "group",
        "z": "c2c0f2c44023cdf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2cfb747832b1899a",
            "46316d077051acf7",
            "51df36a5f8a07d4d",
            "62cdfca91bff8194",
            "7c8bf394dda70dff",
            "785fc6c79c6d4939",
            "3829825c785873ab",
            "09d594e6948e4fa8",
            "e3a15481d21f0660",
            "4ff55c8a5c0e3dd8",
            "2b2e06672d785822",
            "fb31cf7fbfdb6263",
            "21214431aa59eaf8",
            "0fb0c1d7e5beafa9",
            "eede5cc6ce7d4ce0",
            "bc117240542a688e",
            "4d080712aec17dca",
            "400ba16add3be59f"
        ],
        "x": 34,
        "y": 159,
        "w": 992,
        "h": 442
    },
    {
        "id": "8d4758b0afb174f1",
        "type": "group",
        "z": "c2c0f2c44023cdf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "53cc3094f16267ef",
            "f4d8b22a264fa1ad",
            "3e73196fd5315374",
            "153ff60d69354eb4",
            "010d355602d4fcf2",
            "1bac7e3086b19325",
            "ea4b8d605273cf2e",
            "bed611111cb9c382",
            "c06f542172150795",
            "e857adc913797249",
            "0b1157e858b2ab96",
            "e7d759f0dd8858ef",
            "48e812f86f9470fa",
            "28cbb324c4dc8832",
            "2bd0db135e42d32b",
            "5e8ee7f590ee3e0c",
            "03bc48e757d51bef",
            "a366bc90a65b8d49",
            "48da7708829c1c18"
        ],
        "x": 34,
        "y": 1599,
        "w": 1212,
        "h": 422
    },
    {
        "id": "932baff0e887d58f",
        "type": "group",
        "z": "c2c0f2c44023cdf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ecf2d47e2076ee41",
            "30be581e16ec1a5f",
            "4e0b328d6473f022",
            "761f87107b492dd6",
            "9d57f599e5774268",
            "9e3f5b5b1c43e4c6",
            "197c6cf9848f10ad",
            "38d13c9e2514dadb",
            "17b5b6cd6d219119",
            "3f1f928c54b18b4a",
            "1de9536220c7db99",
            "e40a8f7964e2de3d",
            "45e8b26a48c2b092",
            "97cdfe4c76d83925",
            "be7b048ce04e035c",
            "6be29d608dba846c",
            "d750fa2596cf180b",
            "ce1abe162bf83476"
        ],
        "x": 34,
        "y": 639,
        "w": 992,
        "h": 442
    },
    {
        "id": "c51f5353977f9703",
        "type": "group",
        "z": "c2c0f2c44023cdf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "94636d029aa20f52",
            "b9c47a05c8bec2be",
            "8c4fab11df237cf3",
            "969bec47556f4456",
            "7b7dc65b85bae214",
            "dd95af8be10f55d2",
            "6998849eabd6c2ae",
            "d24ad432eaf4e58e",
            "eb3d6ec4cc7def99",
            "96658ffbd39a3346",
            "f784337e5770f46b",
            "9315af86c1633182",
            "85ee6d89e01bbaf9",
            "9a7486a11b97ca24",
            "0d1222021d5fddd1",
            "2ab56aa4ab5d27da",
            "31d753c041abbdb0",
            "d12c418f8c6bbdcc"
        ],
        "x": 34,
        "y": 1119,
        "w": 992,
        "h": 442
    },
    {
        "id": "0c2116620d253c06",
        "type": "group",
        "z": "c2c0f2c44023cdf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cbfbde7d70afb11e"
        ],
        "x": 34,
        "y": 39,
        "w": 372,
        "h": 82
    },
    {
        "id": "21214431aa59eaf8",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "0fb0c1d7e5beafa9",
        "type": "inject",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "21214431aa59eaf8"
            ]
        ]
    },
    {
        "id": "2cfb747832b1899a",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "785fc6c79c6d4939",
                "3829825c785873ab",
                "4d080712aec17dca"
            ]
        ]
    },
    {
        "id": "46316d077051acf7",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "group": "ae4b0323bc3148ef",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "51df36a5f8a07d4d",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "09d594e6948e4fa8"
            ]
        ]
    },
    {
        "id": "62cdfca91bff8194",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "group": "ae4b0323bc3148ef",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "eede5cc6ce7d4ce0",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "7c8bf394dda70dff",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "group": "ae4b0323bc3148ef",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "785fc6c79c6d4939",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "4ff55c8a5c0e3dd8"
            ]
        ]
    },
    {
        "id": "3829825c785873ab",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "2b2e06672d785822"
            ]
        ]
    },
    {
        "id": "09d594e6948e4fa8",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "fb31cf7fbfdb6263"
            ]
        ]
    },
    {
        "id": "53cc3094f16267ef",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Regelung Hoymiles Speicher",
        "info": "",
        "x": 180,
        "y": 1640,
        "wires": []
    },
    {
        "id": "f4d8b22a264fa1ad",
        "type": "shelly-gen2",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "500",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 140,
        "y": 1720,
        "wires": [
            [
                "3e73196fd5315374",
                "2bd0db135e42d32b",
                "5e8ee7f590ee3e0c",
                "03bc48e757d51bef"
            ]
        ]
    },
    {
        "id": "3e73196fd5315374",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "153ff60d69354eb4"
            ]
        ]
    },
    {
        "id": "153ff60d69354eb4",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1720,
        "wires": [
            [
                "ea4b8d605273cf2e"
            ]
        ]
    },
    {
        "id": "010d355602d4fcf2",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1780,
        "wires": []
    },
    {
        "id": "1bac7e3086b19325",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "PI-Regler L1",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1780,
        "wires": [
            [
                "010d355602d4fcf2"
            ]
        ]
    },
    {
        "id": "e3a15481d21f0660",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Speicher 1",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "4ff55c8a5c0e3dd8",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "46316d077051acf7"
            ]
        ]
    },
    {
        "id": "2b2e06672d785822",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "7c8bf394dda70dff",
                "bc117240542a688e"
            ]
        ]
    },
    {
        "id": "ea4b8d605273cf2e",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1720,
        "wires": [
            [
                "28cbb324c4dc8832"
            ]
        ]
    },
    {
        "id": "fb31cf7fbfdb6263",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "62cdfca91bff8194"
            ]
        ]
    },
    {
        "id": "bed611111cb9c382",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1840,
        "wires": []
    },
    {
        "id": "c06f542172150795",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Speicher 3",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ecf2d47e2076ee41",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "9e3f5b5b1c43e4c6",
                "197c6cf9848f10ad",
                "ce1abe162bf83476"
            ]
        ]
    },
    {
        "id": "30be581e16ec1a5f",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "group": "be0c9c3cdb9cf8c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "4e0b328d6473f022",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "38d13c9e2514dadb"
            ]
        ]
    },
    {
        "id": "761f87107b492dd6",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "group": "be0c9c3cdb9cf8c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 920,
        "wires": []
    },
    {
        "id": "9d57f599e5774268",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "group": "be0c9c3cdb9cf8c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "9e3f5b5b1c43e4c6",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 880,
        "wires": [
            [
                "3f1f928c54b18b4a"
            ]
        ]
    },
    {
        "id": "197c6cf9848f10ad",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "1de9536220c7db99"
            ]
        ]
    },
    {
        "id": "38d13c9e2514dadb",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "e40a8f7964e2de3d"
            ]
        ]
    },
    {
        "id": "17b5b6cd6d219119",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Speicher 2",
        "info": "",
        "x": 120,
        "y": 680,
        "wires": []
    },
    {
        "id": "3f1f928c54b18b4a",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "30be581e16ec1a5f"
            ]
        ]
    },
    {
        "id": "1de9536220c7db99",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 800,
        "wires": [
            [
                "9d57f599e5774268",
                "6be29d608dba846c"
            ]
        ]
    },
    {
        "id": "e40a8f7964e2de3d",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 920,
        "wires": [
            [
                "761f87107b492dd6"
            ]
        ]
    },
    {
        "id": "45e8b26a48c2b092",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "97cdfe4c76d83925",
        "type": "inject",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "45e8b26a48c2b092"
            ]
        ]
    },
    {
        "id": "be7b048ce04e035c",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "94636d029aa20f52",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "dd95af8be10f55d2",
                "6998849eabd6c2ae",
                "d12c418f8c6bbdcc"
            ]
        ]
    },
    {
        "id": "b9c47a05c8bec2be",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "group": "221ba36230290d7b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8c4fab11df237cf3",
        "type": "mqtt in",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "d24ad432eaf4e58e"
            ]
        ]
    },
    {
        "id": "969bec47556f4456",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "group": "221ba36230290d7b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7b7dc65b85bae214",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "group": "221ba36230290d7b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 1280,
        "wires": []
    },
    {
        "id": "dd95af8be10f55d2",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1360,
        "wires": [
            [
                "96658ffbd39a3346"
            ]
        ]
    },
    {
        "id": "6998849eabd6c2ae",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1280,
        "wires": [
            [
                "f784337e5770f46b"
            ]
        ]
    },
    {
        "id": "d24ad432eaf4e58e",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "9315af86c1633182"
            ]
        ]
    },
    {
        "id": "eb3d6ec4cc7def99",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Speicher 3",
        "info": "",
        "x": 120,
        "y": 1160,
        "wires": []
    },
    {
        "id": "96658ffbd39a3346",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "b9c47a05c8bec2be"
            ]
        ]
    },
    {
        "id": "f784337e5770f46b",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "7b7dc65b85bae214",
                "2ab56aa4ab5d27da"
            ]
        ]
    },
    {
        "id": "9315af86c1633182",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1400,
        "wires": [
            [
                "969bec47556f4456"
            ]
        ]
    },
    {
        "id": "85ee6d89e01bbaf9",
        "type": "mqtt out",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9a7486a11b97ca24",
        "type": "inject",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 1520,
        "wires": [
            [
                "85ee6d89e01bbaf9"
            ]
        ]
    },
    {
        "id": "0d1222021d5fddd1",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bc117240542a688e",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6be29d608dba846c",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2ab56aa4ab5d27da",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "P3",
        "rules": [
            {
                "t": "set",
                "p": "P3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "e857adc913797249",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Summe Leistung Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\nlet p3 = global.get(\"P3\") || 0;\n\nlet summe = p1 + p2 + p3;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1980,
        "wires": [
            [
                "48e812f86f9470fa"
            ]
        ]
    },
    {
        "id": "0b1157e858b2ab96",
        "type": "inject",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 1980,
        "wires": [
            [
                "e857adc913797249"
            ]
        ]
    },
    {
        "id": "e7d759f0dd8858ef",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "group": "bc5985f41122a027",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1980,
        "wires": []
    },
    {
        "id": "48e812f86f9470fa",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1980,
        "wires": [
            [
                "e7d759f0dd8858ef"
            ]
        ]
    },
    {
        "id": "28cbb324c4dc8832",
        "type": "ui_text",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "group": "bc5985f41122a027",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 1720,
        "wires": []
    },
    {
        "id": "cbfbde7d70afb11e",
        "type": "comment",
        "z": "c2c0f2c44023cdf4",
        "g": "0c2116620d253c06",
        "name": "Node-RED Installationshinweis bitte lesen",
        "info": "Installation in Homeassistant:\n\nFolgende HA Add-Ons installieren:\nMosquitto Broker\nNode-RED\n\nMQTT einrichten:\n\nNode-RED:\nNode-RED Github JSON File in Node-RED importieren:\n\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\n\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\nDie Seriennummer der Hoymiles Speichers müssen in den MQTT Nodes angepasst werden. L1 L2 L3 beachten!\n\nMQTT Einstellungen in der Hoymiles App aktivieren.\n\nAufruf der Node-RED WEB UI:\nhttp://iphomeassistant:1880/endpoint/ui",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "400ba16add3be59f",
        "type": "ui_button",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Anzeige",
        "group": "ae4b0323bc3148ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4d080712aec17dca",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "f73f83d78b22b738",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "400ba16add3be59f"
            ]
        ]
    },
    {
        "id": "d750fa2596cf180b",
        "type": "ui_button",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Anzeige",
        "group": "be0c9c3cdb9cf8c1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ce1abe162bf83476",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "932baff0e887d58f",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "d750fa2596cf180b"
            ]
        ]
    },
    {
        "id": "31d753c041abbdb0",
        "type": "ui_button",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Anzeige",
        "group": "221ba36230290d7b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "d12c418f8c6bbdcc",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "c51f5353977f9703",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "31d753c041abbdb0"
            ]
        ]
    },
    {
        "id": "2bd0db135e42d32b",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Leistung L1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.a_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1780,
        "wires": [
            [
                "1bac7e3086b19325"
            ]
        ]
    },
    {
        "id": "5e8ee7f590ee3e0c",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Leistung L2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.b_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "a366bc90a65b8d49"
            ]
        ]
    },
    {
        "id": "03bc48e757d51bef",
        "type": "change",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "Leistung L3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.c_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1900,
        "wires": [
            [
                "48da7708829c1c18"
            ]
        ]
    },
    {
        "id": "a366bc90a65b8d49",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "PI-Regler L2",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1840,
        "wires": [
            [
                "bed611111cb9c382"
            ]
        ]
    },
    {
        "id": "48da7708829c1c18",
        "type": "function",
        "z": "c2c0f2c44023cdf4",
        "g": "8d4758b0afb174f1",
        "name": "PI-Regler L3",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "c06f542172150795"
            ]
        ]
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "10.10.1.15",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae4b0323bc3148ef",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be0c9c3cdb9cf8c1",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "221ba36230290d7b",
        "type": "ui_group",
        "name": "Speicher 3",
        "tab": "3dbc2bc348a4cead",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc5985f41122a027",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]