3x_hm_v012.json
[
    {
        "id": "5ba104bf6617d409",
        "type": "tab",
        "label": "3x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8609745c7d931882",
        "type": "group",
        "z": "5ba104bf6617d409",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1d845eee82dd108a",
            "37c8d3652ab0d7a9",
            "35a48dee54c28f99",
            "a34cbe3618203051",
            "cb3f442a15c5b905",
            "996fcab140e566e8",
            "d8948f09d27a99f5",
            "857dec5db30ca0c6",
            "8bf58e01432664bf",
            "0482e3ab4192bc3a",
            "ade2844f63723dee",
            "fbc2a631a06146b6",
            "1153ac255270d2cf",
            "6ad01ead8b7e9f13",
            "5c10ed7f9c210a4c",
            "7f20c74b827e018b",
            "ca9e539e845f7ad5",
            "4c64d3e415c7c8c8"
        ],
        "x": 34,
        "y": 39,
        "w": 992,
        "h": 442
    },
    {
        "id": "56f26f89147c06a4",
        "type": "group",
        "z": "5ba104bf6617d409",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9cfa55f293ebb2e9",
            "8b10bd67b9ef6e27",
            "917b35572059e7fd",
            "c3db31f0be2cdff5",
            "fd5cd2cd118bee12",
            "94f26089b0c3e80e",
            "1c95bbbebe598e5e",
            "0b6caa1ce36edd20",
            "85757026ee3807a3",
            "6f7d9aaef2158b52",
            "760304701587e30d",
            "438f98c4481b1a8b",
            "0ce5110fa7202b58",
            "54ffdaa10fb16bc1",
            "03741a32529ccb62",
            "b423a9447a9c5f93",
            "c68619af59ed6d4b",
            "da2cddecba330bec",
            "676502d821ae0dfe"
        ],
        "x": 34,
        "y": 1479,
        "w": 1212,
        "h": 422
    },
    {
        "id": "ada52512d8250326",
        "type": "group",
        "z": "5ba104bf6617d409",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a2e2fa0ee6a7b864",
            "02b89fc475c7749a",
            "18fdf5d9243168af",
            "4a81b5ebd7c85563",
            "6eaedd5f5b2ada23",
            "b34c9c04f632ca5e",
            "ae98612a9b0ad3e8",
            "de59ddbd66767bec",
            "0858bf39770752be",
            "d21d0c747f2b3b05",
            "91c7c52f880c6c61",
            "01bbfb9ab5fc64ae",
            "51d47825e49aba44",
            "601b162a8b78a9dd",
            "9d67e587fb75efe4",
            "8ae5cfd318363cb4",
            "f2e238e65aa860f9",
            "b470b0731ca74b21"
        ],
        "x": 34,
        "y": 519,
        "w": 992,
        "h": 442
    },
    {
        "id": "e63114d8ae2a6046",
        "type": "group",
        "z": "5ba104bf6617d409",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3e2c5f5a44469fc0",
            "2e076cc596986b42",
            "20f2e5241b2473d5",
            "56a4a3bca82061ba",
            "46988534e4d7f263",
            "1d5b1cf56bd3709f",
            "4b03b7bee52e1b77",
            "90a4f79a13f882cd",
            "59b63e7097d0438b",
            "22f7e2450ac2525c",
            "41860e528469e141",
            "872344fe21be56d4",
            "b0cd912246103464",
            "196a65ee5e85b745",
            "bc5988a46c424122",
            "52447b9a3b012483",
            "2c120894f10dadd5",
            "91b8269ea20a83dc"
        ],
        "x": 34,
        "y": 999,
        "w": 992,
        "h": 442
    },
    {
        "id": "1153ac255270d2cf",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "6ad01ead8b7e9f13",
        "type": "inject",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "1153ac255270d2cf"
            ]
        ]
    },
    {
        "id": "1d845eee82dd108a",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "996fcab140e566e8",
                "d8948f09d27a99f5",
                "ca9e539e845f7ad5"
            ]
        ]
    },
    {
        "id": "37c8d3652ab0d7a9",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "group": "6d30b6f5b44935b0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "35a48dee54c28f99",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "857dec5db30ca0c6"
            ]
        ]
    },
    {
        "id": "a34cbe3618203051",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "group": "6d30b6f5b44935b0",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "5c10ed7f9c210a4c",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "cb3f442a15c5b905",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "group": "6d30b6f5b44935b0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "996fcab140e566e8",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "0482e3ab4192bc3a"
            ]
        ]
    },
    {
        "id": "d8948f09d27a99f5",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ade2844f63723dee"
            ]
        ]
    },
    {
        "id": "857dec5db30ca0c6",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "fbc2a631a06146b6"
            ]
        ]
    },
    {
        "id": "9cfa55f293ebb2e9",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Regelung",
        "info": "",
        "x": 120,
        "y": 1520,
        "wires": []
    },
    {
        "id": "8b10bd67b9ef6e27",
        "type": "shelly-gen2",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "500",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "917b35572059e7fd",
                "03741a32529ccb62",
                "b423a9447a9c5f93",
                "c68619af59ed6d4b"
            ]
        ]
    },
    {
        "id": "917b35572059e7fd",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "c3db31f0be2cdff5"
            ]
        ]
    },
    {
        "id": "c3db31f0be2cdff5",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1600,
        "wires": [
            [
                "1c95bbbebe598e5e"
            ]
        ]
    },
    {
        "id": "fd5cd2cd118bee12",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1660,
        "wires": []
    },
    {
        "id": "94f26089b0c3e80e",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "PI-Regler L1",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1660,
        "wires": [
            [
                "fd5cd2cd118bee12"
            ]
        ]
    },
    {
        "id": "8bf58e01432664bf",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Speicher L1",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "0482e3ab4192bc3a",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "37c8d3652ab0d7a9"
            ]
        ]
    },
    {
        "id": "ade2844f63723dee",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "cb3f442a15c5b905",
                "7f20c74b827e018b"
            ]
        ]
    },
    {
        "id": "1c95bbbebe598e5e",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1600,
        "wires": [
            [
                "54ffdaa10fb16bc1"
            ]
        ]
    },
    {
        "id": "fbc2a631a06146b6",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "a34cbe3618203051"
            ]
        ]
    },
    {
        "id": "0b6caa1ce36edd20",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1720,
        "wires": []
    },
    {
        "id": "85757026ee3807a3",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Speicher 3",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 870,
        "y": 1780,
        "wires": []
    },
    {
        "id": "a2e2fa0ee6a7b864",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "b34c9c04f632ca5e",
                "ae98612a9b0ad3e8",
                "b470b0731ca74b21"
            ]
        ]
    },
    {
        "id": "02b89fc475c7749a",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "group": "c8ab7ac30701aaae",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "18fdf5d9243168af",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "de59ddbd66767bec"
            ]
        ]
    },
    {
        "id": "4a81b5ebd7c85563",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "group": "c8ab7ac30701aaae",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "6eaedd5f5b2ada23",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "group": "c8ab7ac30701aaae",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "b34c9c04f632ca5e",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 760,
        "wires": [
            [
                "d21d0c747f2b3b05"
            ]
        ]
    },
    {
        "id": "ae98612a9b0ad3e8",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "91c7c52f880c6c61"
            ]
        ]
    },
    {
        "id": "de59ddbd66767bec",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "01bbfb9ab5fc64ae"
            ]
        ]
    },
    {
        "id": "0858bf39770752be",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Speicher L2",
        "info": "",
        "x": 130,
        "y": 560,
        "wires": []
    },
    {
        "id": "d21d0c747f2b3b05",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "02b89fc475c7749a"
            ]
        ]
    },
    {
        "id": "91c7c52f880c6c61",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 680,
        "wires": [
            [
                "6eaedd5f5b2ada23",
                "8ae5cfd318363cb4"
            ]
        ]
    },
    {
        "id": "01bbfb9ab5fc64ae",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 800,
        "wires": [
            [
                "4a81b5ebd7c85563"
            ]
        ]
    },
    {
        "id": "51d47825e49aba44",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "601b162a8b78a9dd",
        "type": "inject",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 920,
        "wires": [
            [
                "51d47825e49aba44"
            ]
        ]
    },
    {
        "id": "9d67e587fb75efe4",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 880,
        "wires": []
    },
    {
        "id": "3e2c5f5a44469fc0",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "1d5b1cf56bd3709f",
                "4b03b7bee52e1b77",
                "91b8269ea20a83dc"
            ]
        ]
    },
    {
        "id": "2e076cc596986b42",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "group": "fee49493e3b56359",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1240,
        "wires": []
    },
    {
        "id": "20f2e5241b2473d5",
        "type": "mqtt in",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "90a4f79a13f882cd"
            ]
        ]
    },
    {
        "id": "56a4a3bca82061ba",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "group": "fee49493e3b56359",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1280,
        "wires": []
    },
    {
        "id": "46988534e4d7f263",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "group": "fee49493e3b56359",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1d5b1cf56bd3709f",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "22f7e2450ac2525c"
            ]
        ]
    },
    {
        "id": "4b03b7bee52e1b77",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "41860e528469e141"
            ]
        ]
    },
    {
        "id": "90a4f79a13f882cd",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1280,
        "wires": [
            [
                "872344fe21be56d4"
            ]
        ]
    },
    {
        "id": "59b63e7097d0438b",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Speicher L3",
        "info": "",
        "x": 130,
        "y": 1040,
        "wires": []
    },
    {
        "id": "22f7e2450ac2525c",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1240,
        "wires": [
            [
                "2e076cc596986b42"
            ]
        ]
    },
    {
        "id": "41860e528469e141",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1160,
        "wires": [
            [
                "46988534e4d7f263",
                "52447b9a3b012483"
            ]
        ]
    },
    {
        "id": "872344fe21be56d4",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "56a4a3bca82061ba"
            ]
        ]
    },
    {
        "id": "b0cd912246103464",
        "type": "mqtt out",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 1400,
        "wires": []
    },
    {
        "id": "196a65ee5e85b745",
        "type": "inject",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 1400,
        "wires": [
            [
                "b0cd912246103464"
            ]
        ]
    },
    {
        "id": "bc5988a46c424122",
        "type": "comment",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 1360,
        "wires": []
    },
    {
        "id": "7f20c74b827e018b",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8ae5cfd318363cb4",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "52447b9a3b012483",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "P3",
        "rules": [
            {
                "t": "set",
                "p": "P3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6f7d9aaef2158b52",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Summe Leistung Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\nlet p3 = global.get(\"P3\") || 0;\n\nlet summe = p1 + p2 + p3;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1860,
        "wires": [
            [
                "0ce5110fa7202b58"
            ]
        ]
    },
    {
        "id": "760304701587e30d",
        "type": "inject",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 1860,
        "wires": [
            [
                "6f7d9aaef2158b52"
            ]
        ]
    },
    {
        "id": "438f98c4481b1a8b",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "group": "8cd17652cff7b3d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher Gesamt",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 1860,
        "wires": []
    },
    {
        "id": "0ce5110fa7202b58",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1860,
        "wires": [
            [
                "438f98c4481b1a8b"
            ]
        ]
    },
    {
        "id": "54ffdaa10fb16bc1",
        "type": "ui_text",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "group": "8cd17652cff7b3d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4c64d3e415c7c8c8",
        "type": "ui_button",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Anzeige",
        "group": "6d30b6f5b44935b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ca9e539e845f7ad5",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "8609745c7d931882",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "4c64d3e415c7c8c8"
            ]
        ]
    },
    {
        "id": "f2e238e65aa860f9",
        "type": "ui_button",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Anzeige",
        "group": "c8ab7ac30701aaae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b470b0731ca74b21",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "ada52512d8250326",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            [
                "f2e238e65aa860f9"
            ]
        ]
    },
    {
        "id": "2c120894f10dadd5",
        "type": "ui_button",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Anzeige",
        "group": "fee49493e3b56359",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "91b8269ea20a83dc",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "e63114d8ae2a6046",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "2c120894f10dadd5"
            ]
        ]
    },
    {
        "id": "03741a32529ccb62",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Leistung L1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.a_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1660,
        "wires": [
            [
                "94f26089b0c3e80e"
            ]
        ]
    },
    {
        "id": "b423a9447a9c5f93",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Leistung L2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.b_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "da2cddecba330bec"
            ]
        ]
    },
    {
        "id": "c68619af59ed6d4b",
        "type": "change",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "Leistung L3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.c_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1780,
        "wires": [
            [
                "676502d821ae0dfe"
            ]
        ]
    },
    {
        "id": "da2cddecba330bec",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "PI-Regler L2",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1720,
        "wires": [
            [
                "0b6caa1ce36edd20"
            ]
        ]
    },
    {
        "id": "676502d821ae0dfe",
        "type": "function",
        "z": "5ba104bf6617d409",
        "g": "56f26f89147c06a4",
        "name": "PI-Regler L3",
        "func": "const Kp = 0.5; // Proportionalverstärkung\nconst Ki = 0.1; // Integralverstärkung\n\n// Sollwert ist 0\nconst sollwert = 0;\nconst istwert = msg.payload;\nconst fehler = istwert - sollwert;\n\n// Integral-Teil (über Flow-Kontext speichern)\nlet integral = flow.get('integral') || 0;\nintegral += fehler;\n\n// Begrenzung des Integrals, um Aufschaukeln zu verhindern\nconst integralMax = 5000;\nintegral = Math.min(Math.max(integral, -integralMax), integralMax);\nflow.set('integral', integral);\n\n// Regelung durch PI-Algorithmus\nconst output = (Kp * fehler) + (Ki * integral);\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1780,
        "wires": [
            [
                "85757026ee3807a3"
            ]
        ]
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "10.10.1.15",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6d30b6f5b44935b0",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8ab7ac30701aaae",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fee49493e3b56359",
        "type": "ui_group",
        "name": "Speicher 3",
        "tab": "3dbc2bc348a4cead",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cd17652cff7b3d3",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]
