4x_hm_v006.json
[
    {
        "id": "98c5235af1c2aedd",
        "type": "tab",
        "label": "4x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e15052ae82d3d82",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "85ade217045b61c6",
            "b99e9011a2bf4630",
            "9fd355728bf6ef6c",
            "d56e325cdc8ac8da",
            "80a0b49ae18a1b66",
            "65b7a68dca60d5b9",
            "1bc8356e3a635145",
            "8c910a34fb27e757",
            "83056049d6ac0a74",
            "ca9d61ee00cbe5b5",
            "02ce6c5f06525be2",
            "e26f8065a254bfcb",
            "b4a21a7e27426c79",
            "e3fbfaff6e2fbe21",
            "3e978edfda204b35",
            "b19e323e78057ec3",
            "62a7c98652305ea3",
            "375a12c13734af94",
            "4fc67b3be0d6bd0f",
            "1dc10dad1fbe7c69"
        ],
        "x": 34,
        "y": 219,
        "w": 992,
        "h": 502
    },
    {
        "id": "fa3461e4cf114207",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "842cfecf5276dc1e",
            "5dac7ec3f4a31c40",
            "86cd44f8547807d2",
            "452491889ca4d57c",
            "7863d64fb7f68019",
            "7a38fdced7343ec6",
            "04d05c7abc7dfa11",
            "88a2dcd77a78b487",
            "d3e5bd157f0d9337",
            "968da1ce731e9ece",
            "bb9c81de791e148c",
            "23ed6938a8950ae3",
            "6b8443e674d6337f",
            "c7a97280e22c4891",
            "fe6c795849c91091",
            "b2aa06ce13a9f84e",
            "3061263c3362f29d"
        ],
        "x": 34,
        "y": 1299,
        "w": 2012,
        "h": 402
    },
    {
        "id": "67a9035295267095",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "764b0c12c85c5882",
            "c3af55bdf6f0275f",
            "787aea9af5bd4533",
            "5749cbdeae99f873",
            "848af09c760754bd",
            "232beb24ba892ea9",
            "5af1ca65ebe35d60",
            "56789ba11153db02",
            "709113d6da2cbc95",
            "35707f871fa3cd5e",
            "47f7af8329795bdb",
            "ed111f2579096090",
            "77fa2d7ae3a8f0c6",
            "8a8c1e84a9feed0f",
            "b31af97ff73804d3",
            "b253e201eb0d8764",
            "9f6d1f3a6548e254",
            "9a32f2804b9ec665",
            "da52b7a1395b5c59",
            "f7e52d9b6b19fd87"
        ],
        "x": 1054,
        "y": 219,
        "w": 992,
        "h": 502
    },
    {
        "id": "e8a9358978506991",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c11bbaeb7bdd6931",
            "26dcb4f1cf20d409",
            "4e018d2120fe07a2",
            "60544d5ac26945f3",
            "90ca6bff24c072a3",
            "6609ebf7dde7e073",
            "be4f6121e8446917",
            "b17a38554ab01970",
            "1bd5762e0d2e740c",
            "f3c8565f2ef42054",
            "0c16bacf8799caa1",
            "4dcc761e2a5bba6c",
            "6fd5226e8babc94a",
            "9e4db7696f8e0bcc",
            "c237b01225a04be9",
            "377114037273b56d",
            "a17f3c56505f21b7",
            "7478cc87cf78108f",
            "62a214195f4a7f84",
            "0e721779d58e01b7"
        ],
        "x": 34,
        "y": 759,
        "w": 992,
        "h": 502
    },
    {
        "id": "941c5bd0a9c89f29",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "527099d724118a7d",
            "c39a6b8807cb8b15",
            "7e8ce61a9efe5793",
            "bc57295da8d2e0df",
            "824234695b5e28f4",
            "4e3c466f69347a65",
            "10ac84692a4a3b60",
            "0432586cb8943f38",
            "dc86f218c13a7378",
            "e85577d8a6ae70d2",
            "defce9e709829988",
            "5bbc145ee2daa88a",
            "5eeca9ca35c1b631",
            "85f84eef5ed5af90",
            "4f23cb6bc8379878",
            "6c0fc12b86e8351f",
            "99c5e1197ad61bfe",
            "2648f7e69708c51f",
            "b31cdc9c93bb23fb",
            "b5f721a8b3b3003c"
        ],
        "x": 1054,
        "y": 759,
        "w": 992,
        "h": 502
    },
    {
        "id": "67e071359a6f955d",
        "type": "group",
        "z": "98c5235af1c2aedd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9662c84e35a9c9a5",
            "00ca4378a29bacda"
        ],
        "x": 34,
        "y": 39,
        "w": 512,
        "h": 142
    },
    {
        "id": "3e978edfda204b35",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "b19e323e78057ec3",
        "type": "inject",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "3e978edfda204b35"
            ]
        ]
    },
    {
        "id": "85ade217045b61c6",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "65b7a68dca60d5b9",
                "1bc8356e3a635145",
                "4fc67b3be0d6bd0f"
            ]
        ]
    },
    {
        "id": "b99e9011a2bf4630",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "group": "2eee95ac0c6dacc3",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "9fd355728bf6ef6c",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8c910a34fb27e757",
                "ca9d61ee00cbe5b5"
            ]
        ]
    },
    {
        "id": "d56e325cdc8ac8da",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "group": "2eee95ac0c6dacc3",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "62a7c98652305ea3",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 190,
        "y": 640,
        "wires": []
    },
    {
        "id": "80a0b49ae18a1b66",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "group": "2eee95ac0c6dacc3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "65b7a68dca60d5b9",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "e26f8065a254bfcb"
            ]
        ]
    },
    {
        "id": "1bc8356e3a635145",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "b4a21a7e27426c79"
            ]
        ]
    },
    {
        "id": "8c910a34fb27e757",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "e3fbfaff6e2fbe21"
            ]
        ]
    },
    {
        "id": "83056049d6ac0a74",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "group": "2eee95ac0c6dacc3",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "ca9d61ee00cbe5b5",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "83056049d6ac0a74"
            ]
        ]
    },
    {
        "id": "842cfecf5276dc1e",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Regelung Hoymiles 4x Speicher",
        "info": "",
        "x": 190,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5dac7ec3f4a31c40",
        "type": "shelly-gen2",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "500",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 140,
        "y": 1420,
        "wires": [
            [
                "86cd44f8547807d2"
            ]
        ]
    },
    {
        "id": "86cd44f8547807d2",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1420,
        "wires": [
            [
                "452491889ca4d57c",
                "04d05c7abc7dfa11"
            ]
        ]
    },
    {
        "id": "452491889ca4d57c",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1420,
        "wires": [
            [
                "88a2dcd77a78b487"
            ]
        ]
    },
    {
        "id": "7863d64fb7f68019",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Stellwert Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1920,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7a38fdced7343ec6",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "group": "96665ed94cc8193a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stellwert",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 1520,
        "wires": []
    },
    {
        "id": "04d05c7abc7dfa11",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "PI-Regler",
        "func": "// PI-Regler mit Anti-Windup (Back-Calculation / Conditional Integration)\n// und Begrenzung des Ausgangs von -4000 bis +4000\n\n// Reglerparameter\nconst Kp = 0.5;     // Proportionalfaktor (Proportional Gain)\nconst Ki = 0.1;     // Integralfaktor (Integral Gain)\n\n// Reglergrenzen für den Ausgang\nconst outputMin = -4000;\nconst outputMax = 4000;\n\n// Einlesen der aktuellen Zustände\nlet fehler = msg.payload; // Der Regelabweichung (Error) wird über msg.payload übergeben\nlet now = Date.now();     // Aktueller Zeitstempel\nlet lastTime = context.get(\"lastTime\") || now; // Letzter Zeitstempel aus dem Kontext holen, sonst aktueller\nlet dt = Math.max((now - lastTime) / 1000, 0.001); // Zeitdifferenz in Sekunden, mindestens 1 ms\n\n// Letzten Zeitstempel für den nächsten Durchlauf speichern\ncontext.set(\"lastTime\", now);\n\n// Integratorstatus aus dem Kontext holen, falls nicht vorhanden, mit 0 initialisieren\nlet integral = context.get(\"integral\") || 0;\n\n// Schritt 1: Berechne den vorgeschlagenen neuen Integrator-Anteil.\n// Dieser Wert wird zunächst immer akkumuliert, bevor die Anti-Windup-Logik greift.\nlet newIntegralProposed = integral + fehler * dt;\n\n// Schritt 2: Berechne den vorläufigen PI-Ausgang.\n// Dieser Ausgang ist noch nicht auf die endgültigen Grenzen beschränkt.\nlet output = Kp * fehler + Ki * newIntegralProposed;\n\n// Schritt 3: Anti-Windup durch Clamping des Ausgangs UND bedingter Integration\n// Hier wird der finale Ausgang begrenzt, und gleichzeitig entschieden, ob der Integrator\n// im nächsten Zyklus den Wert newIntegralProposed übernimmt oder \"eingefroren\" wird.\n\nlet integralToSave = integral; // Standardmäßig den alten Integratorwert beibehalten,\n// falls keine Integration stattfinden soll.\n\nif (output > outputMax) {\n    // Der Ausgang ist über der Obergrenze\n    output = outputMax; // Den Ausgang auf die Obergrenze begrenzen\n\n    // Bedingte Integration: Der Integrator darf nur weiter aufsummieren (oder abziehen),\n    // wenn der Fehler dazu beiträgt, den Ausgang wieder unter die Obergrenze zu bringen.\n    if (fehler < 0) {\n        // Fehler ist negativ, will den Ausgang verringern -> Integration erlauben (Integrator darf abziehen)\n        integralToSave = newIntegralProposed;\n    }\n    // Wenn fehler >= 0, bleibt integralToSave beim alten Wert von 'integral',\n    // wodurch der Integrator effektiv \"eingefroren\" wird, solange der Ausgang gesättigt ist\n    // und der Fehler die Sättigung nicht auflösen würde.\n\n} else if (output < outputMin) {\n    // Der Ausgang ist unter der Untergrenze\n    output = outputMin; // Den Ausgang auf die Untergrenze begrenzen\n\n    // Bedingte Integration: Der Integrator darf nur weiter aufsummieren (oder abziehen),\n    // wenn der Fehler dazu beiträgt, den Ausgang wieder über die Untergrenze zu bringen.\n    if (fehler > 0) {\n        // Fehler ist positiv, will den Ausgang erhöhen -> Integration erlauben (Integrator darf aufsummieren)\n        integralToSave = newIntegralProposed;\n    }\n    // Wenn fehler <= 0, bleibt integralToSave beim alten Wert von 'integral',\n    // wodurch der Integrator effektiv \"eingefroren\" wird.\n\n} else {\n    // Der Ausgang liegt innerhalb der definierten Grenzen\n    // In diesem Fall wird der Integrator normal aktualisiert.\n    integralToSave = newIntegralProposed;\n}\n\n// Schritt 4: Den für den nächsten Zyklus gültigen Integratorwert speichern.\ncontext.set(\"integral\", integralToSave);\n\n// Schritt 5: Den berechneten und begrenzten Reglerausgang setzen.\nmsg.payload = output;\n\n// Den Nachrichtenfluss zurückgeben.\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1480,
        "wires": [
            [
                "7a38fdced7343ec6",
                "d3e5bd157f0d9337"
            ]
        ]
    },
    {
        "id": "02ce6c5f06525be2",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Speicher 1",
        "info": "",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "e26f8065a254bfcb",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "b99e9011a2bf4630"
            ]
        ]
    },
    {
        "id": "b4a21a7e27426c79",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "80a0b49ae18a1b66",
                "375a12c13734af94"
            ]
        ]
    },
    {
        "id": "88a2dcd77a78b487",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1420,
        "wires": [
            [
                "3061263c3362f29d"
            ]
        ]
    },
    {
        "id": "e3fbfaff6e2fbe21",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [
            [
                "d56e325cdc8ac8da"
            ]
        ]
    },
    {
        "id": "d3e5bd157f0d9337",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Leistung für vier Speicher",
        "func": "var math = Number(msg.payload) /4;\nmsg.payload = math;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1480,
        "wires": [
            [
                "7863d64fb7f68019",
                "968da1ce731e9ece",
                "bb9c81de791e148c",
                "23ed6938a8950ae3"
            ]
        ]
    },
    {
        "id": "968da1ce731e9ece",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Stellwert Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1920,
        "y": 1540,
        "wires": []
    },
    {
        "id": "bb9c81de791e148c",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Stellwert Speicher 3",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1920,
        "y": 1600,
        "wires": []
    },
    {
        "id": "23ed6938a8950ae3",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Stellwert Speicher 4",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1920,
        "y": 1660,
        "wires": []
    },
    {
        "id": "764b0c12c85c5882",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "232beb24ba892ea9",
                "5af1ca65ebe35d60",
                "f7e52d9b6b19fd87"
            ]
        ]
    },
    {
        "id": "c3af55bdf6f0275f",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "group": "b6a22f238602f660",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1910,
        "y": 460,
        "wires": []
    },
    {
        "id": "787aea9af5bd4533",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "56789ba11153db02",
                "35707f871fa3cd5e"
            ]
        ]
    },
    {
        "id": "5749cbdeae99f873",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "group": "b6a22f238602f660",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 500,
        "wires": []
    },
    {
        "id": "848af09c760754bd",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "group": "b6a22f238602f660",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1900,
        "y": 380,
        "wires": []
    },
    {
        "id": "232beb24ba892ea9",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 460,
        "wires": [
            [
                "ed111f2579096090"
            ]
        ]
    },
    {
        "id": "5af1ca65ebe35d60",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "77fa2d7ae3a8f0c6"
            ]
        ]
    },
    {
        "id": "56789ba11153db02",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "8a8c1e84a9feed0f"
            ]
        ]
    },
    {
        "id": "709113d6da2cbc95",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "group": "b6a22f238602f660",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 540,
        "wires": []
    },
    {
        "id": "35707f871fa3cd5e",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 540,
        "wires": [
            [
                "709113d6da2cbc95"
            ]
        ]
    },
    {
        "id": "47f7af8329795bdb",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Speicher 2",
        "info": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed111f2579096090",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 460,
        "wires": [
            [
                "c3af55bdf6f0275f"
            ]
        ]
    },
    {
        "id": "77fa2d7ae3a8f0c6",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 380,
        "wires": [
            [
                "848af09c760754bd",
                "9a32f2804b9ec665"
            ]
        ]
    },
    {
        "id": "8a8c1e84a9feed0f",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 500,
        "wires": [
            [
                "5749cbdeae99f873"
            ]
        ]
    },
    {
        "id": "b31af97ff73804d3",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1510,
        "y": 680,
        "wires": []
    },
    {
        "id": "b253e201eb0d8764",
        "type": "inject",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "b31af97ff73804d3"
            ]
        ]
    },
    {
        "id": "9f6d1f3a6548e254",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "c11bbaeb7bdd6931",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 880,
        "wires": [
            [
                "6609ebf7dde7e073",
                "be4f6121e8446917",
                "0e721779d58e01b7"
            ]
        ]
    },
    {
        "id": "26dcb4f1cf20d409",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "group": "f58f8ce551b1a818",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4e018d2120fe07a2",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "b17a38554ab01970",
                "f3c8565f2ef42054"
            ]
        ]
    },
    {
        "id": "60544d5ac26945f3",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "group": "f58f8ce551b1a818",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1040,
        "wires": []
    },
    {
        "id": "90ca6bff24c072a3",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "group": "f58f8ce551b1a818",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 920,
        "wires": []
    },
    {
        "id": "6609ebf7dde7e073",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "4dcc761e2a5bba6c"
            ]
        ]
    },
    {
        "id": "be4f6121e8446917",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "6fd5226e8babc94a"
            ]
        ]
    },
    {
        "id": "b17a38554ab01970",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "9e4db7696f8e0bcc"
            ]
        ]
    },
    {
        "id": "1bd5762e0d2e740c",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "group": "f58f8ce551b1a818",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f3c8565f2ef42054",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1080,
        "wires": [
            [
                "1bd5762e0d2e740c"
            ]
        ]
    },
    {
        "id": "0c16bacf8799caa1",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Speicher 3",
        "info": "",
        "x": 120,
        "y": 800,
        "wires": []
    },
    {
        "id": "4dcc761e2a5bba6c",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "26dcb4f1cf20d409"
            ]
        ]
    },
    {
        "id": "6fd5226e8babc94a",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 920,
        "wires": [
            [
                "90ca6bff24c072a3",
                "7478cc87cf78108f"
            ]
        ]
    },
    {
        "id": "9e4db7696f8e0bcc",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "60544d5ac26945f3"
            ]
        ]
    },
    {
        "id": "c237b01225a04be9",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 490,
        "y": 1220,
        "wires": []
    },
    {
        "id": "377114037273b56d",
        "type": "inject",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 220,
        "y": 1220,
        "wires": [
            [
                "c237b01225a04be9"
            ]
        ]
    },
    {
        "id": "a17f3c56505f21b7",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 190,
        "y": 1180,
        "wires": []
    },
    {
        "id": "527099d724118a7d",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 880,
        "wires": [
            [
                "4e3c466f69347a65",
                "10ac84692a4a3b60",
                "b5f721a8b3b3003c"
            ]
        ]
    },
    {
        "id": "c39a6b8807cb8b15",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "group": "5d990246c91e45b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7e8ce61a9efe5793",
        "type": "mqtt in",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1190,
        "y": 1040,
        "wires": [
            [
                "0432586cb8943f38",
                "e85577d8a6ae70d2"
            ]
        ]
    },
    {
        "id": "bc57295da8d2e0df",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "group": "5d990246c91e45b9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 1040,
        "wires": []
    },
    {
        "id": "824234695b5e28f4",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "group": "5d990246c91e45b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1900,
        "y": 920,
        "wires": []
    },
    {
        "id": "4e3c466f69347a65",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1000,
        "wires": [
            [
                "5bbc145ee2daa88a"
            ]
        ]
    },
    {
        "id": "10ac84692a4a3b60",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 920,
        "wires": [
            [
                "5eeca9ca35c1b631"
            ]
        ]
    },
    {
        "id": "0432586cb8943f38",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 1040,
        "wires": [
            [
                "85f84eef5ed5af90"
            ]
        ]
    },
    {
        "id": "dc86f218c13a7378",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "group": "5d990246c91e45b9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e85577d8a6ae70d2",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 1080,
        "wires": [
            [
                "dc86f218c13a7378"
            ]
        ]
    },
    {
        "id": "defce9e709829988",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Speicher 4",
        "info": "",
        "x": 1140,
        "y": 800,
        "wires": []
    },
    {
        "id": "5bbc145ee2daa88a",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1000,
        "wires": [
            [
                "c39a6b8807cb8b15"
            ]
        ]
    },
    {
        "id": "5eeca9ca35c1b631",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 920,
        "wires": [
            [
                "824234695b5e28f4",
                "2648f7e69708c51f"
            ]
        ]
    },
    {
        "id": "85f84eef5ed5af90",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1040,
        "wires": [
            [
                "bc57295da8d2e0df"
            ]
        ]
    },
    {
        "id": "4f23cb6bc8379878",
        "type": "mqtt out",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1510,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6c0fc12b86e8351f",
        "type": "inject",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 1240,
        "y": 1220,
        "wires": [
            [
                "4f23cb6bc8379878"
            ]
        ]
    },
    {
        "id": "99c5e1197ad61bfe",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 1210,
        "y": 1180,
        "wires": []
    },
    {
        "id": "375a12c13734af94",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9a32f2804b9ec665",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7478cc87cf78108f",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "P3",
        "rules": [
            {
                "t": "set",
                "p": "P3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2648f7e69708c51f",
        "type": "change",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "P4",
        "rules": [
            {
                "t": "set",
                "p": "P4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "6b8443e674d6337f",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Summe Leistung Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\nlet p3 = global.get(\"P3\") || 0;\nlet p4 = global.get(\"P4\") || 0;\n\nlet summe = p1 + p2 + p3 + p4;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1660,
        "wires": [
            [
                "b2aa06ce13a9f84e"
            ]
        ]
    },
    {
        "id": "c7a97280e22c4891",
        "type": "inject",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "6b8443e674d6337f"
            ]
        ]
    },
    {
        "id": "fe6c795849c91091",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "group": "96665ed94cc8193a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b2aa06ce13a9f84e",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1660,
        "wires": [
            [
                "fe6c795849c91091"
            ]
        ]
    },
    {
        "id": "3061263c3362f29d",
        "type": "ui_text",
        "z": "98c5235af1c2aedd",
        "g": "fa3461e4cf114207",
        "group": "96665ed94cc8193a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9662c84e35a9c9a5",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "67e071359a6f955d",
        "name": "Node-RED Installationshinweis bitte lesen",
        "info": "1.)\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\nnode-red-contrib-simple-gate\nnode-red-contrib-ui-time-scheduler\n\n2.)\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\n3.)\nDie Seriennummer des Hoymiles Speichers muss in den MQTT Nodes angepasst werden.\n\n4.)\nMQTT in der Hoymiles App aktivieren.\n\nby Steffen294 30.07.2025",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "00ca4378a29bacda",
        "type": "comment",
        "z": "98c5235af1c2aedd",
        "g": "67e071359a6f955d",
        "name": "Hoymiles MSA Micro Storage MQTT Protocol Development Guide",
        "info": "# Hoymiles MSA Micro Storage MQTT Protocol Development Guide\n\n### 1. Basic Configuration information (Device Release)\n*Publish immediately after the device is connected for device discovery.*\n\n**topic:**  \n`homeassistant/switch/<dev_id>/config`\n\n**payload:**  \n```json\n{\n    \"state_topic\": \"homeassistant/sensor/<dev_id>/device/state\",\n    \"command_topic\": \"homeassistant/switch/<dev_id>/set\",\n    \"json_attributes_topic\": \"homeassistant/sensor/<dev_id>/attributes\",\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n        \"identifiers\": [\"<id>\"], \n        \"name\": \"<dev_id>\", \n        \"manufacturer\": \"Hoymiles\", \n        \"model\": \"MS-A2\",\n        \"sw_version\": \"1.0.0\" \n    }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 2. Basic Attribute Information (Device Release)\n*Publish immediately after device connection for theme synchronization.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/attributes`\n\n**payload:**  \n```json\n{\n    \"supported_topics\": {\n    \"quick_state\": \"homeassistant/sensor/<dev_id>/quick/state\",\n    \"device_state\": \"homeassistant/sensor/<dev_id>/device/state\",\n    \"system_state\": \"homeassistant/sensor/<dev_id>/system/state\",\n    \"switch_ctrl\": \"homeassistant/switch/<dev_id>/set\",\n    \"ems_mode\": \"homeassistant/select/<dev_id>/ems_mode/command\",\n    \"power_ctrl\": \"homeassistant/number/<dev_id>/power_ctrl/set\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n**note:**  \n`supported_topics` : indicates the topics that the device supports publishing and subscribing.  \n`quick_state` : Topics published by the device for quick updates of the device itself and system status, see Section 10.  \n`device_state` : A topic published by the device for timed updates of the device's own state, see Section 11.  \n`system_state` : The topic published by the device for the scheduled update of the system state, see Section 12.  \n`switch_ctrl` : The topic that the device responds to for device on/off control, see Section 7.  \n`ems_mode` : The topic that the device responds to for setting the EMS mode, see Section 8.  \n`power_ctrl` : The topic that the device responds to for controlling power, see Section 9.  \n\n### 3. EMS Mode configuration (Device Release)\n*Publish immediately after the device is connected to notify of power control rules. This topic is only supported for host and standalone devices.*\n\n**topic:**  \n`homeassistant/select/<dev_id>/ems_mode/config`\n\n**payload:**  \n```json\n{\n    \"command_topic\": \"homeassistant/select/<dev_id>/ems_mode/command\",\n    \"options\": [\"general\", \"mqtt_ctrl\"],\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n**note:**  \n`options` : System EMS mode (` general` : default, when enabled, the device manages energy through inherent logic, `mqtt_ctrl` : When enabled, the device responds to mqtt instructions to control power, which can be managed through the `homeassistant/number/<dev_id>/power_ctrl/set` topic) \n\n### 4. Power Control configuration (Device release)\n*Publish immediately after the device is connected to notify of power control rules. This topic is only supported on host and standalone devices.*\n\n**topic:**  \n`homeassistant/number/<dev_id>/power_ctrl/config`\n\n**payload:**  \n```json\n{\n    \"name\": null,\n    \"command_topic\": \"homeassistant/number/<dev_id>/power_ctrl/set\",\n    \"device_class\": \"power\",\n    \"unit_of_measurement\": \"w\",\n    \"min\": -1000,\n    \"max\": 1000,\n    \"step\": 0.1,\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 5. Battery Level Information Display configuration (Device Release)\n*Publish immediately after the device is connected for configuration of battery display information.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/soc/config`\n\n**payload:**  \n```json\n{\n    \"name\": \"soc\", \n    \"state_topic\": \"homeassistant/sensor/<dev_id>/quick/state\", \n    \"value_template\": \"{{ value_json.soc }}\",\n    \"device_class\": \"battery\",\n    \"unit_of_measurement\": \"%\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 6. Battery charge and Discharge power display configuration (Device Release)\n*Publish immediately after the device is connected for power display information configuration.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/bat_p/config`\n\n**payload:**  \n```json\n{\n    \"name\": \"bat_power\", \n    \"state_topic\": \"homeassistant/sensor/<dev_id>/quick/state\", \n    \"value_template\": \"{{ value_json.bat_p }}\",\n    \"device_class\": \"power\",\n    \"unit_of_measurement\": \"W\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 7. Power On/Off Control (Device Subscription) [Reserved Feature]\n*Device subscription and response, not supported for now.*\n\n**topic:**  \n`homeassistant/switch/<dev_id>/set`\n\n**payload:**  \n`ON`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nTypes that can be set in the `payload` include `ON` and `OFF`.\n\n### 8. EMS mode (Device Subscription)\n*Device subscribe and respond, this topic is only supported on host and standalone.*\n\n**topic:**  \n`homeassistant/select/<dev_id>/ems_mode/command`\n\n**payload:**  \n`mqtt_ctrl`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nSee `options` in the`homeassistant/select/<dev_id>/ems_mode/config`topic in the`payload`.\n\n### 9. Power Control (Device Subscription)\n*Device subscribe and respond, this topic is only supported on host and standalone.*\n\n**topic:**  \n`homeassistant/number/<dev_id>/power_ctrl/set`\n\n**payload:**  \n`80.0`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nSee `min` and `max` in the `homeassistant/number/<dev_id>/power_ctrl/config` theme.\n\n### 10. Second-level data (Device publishing)\n*The device is released at intervals of 1 second, including the device and system.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/quick/state`\n\n**payload:**  \n```json\n{\n \"grid_on_p\": 0.1,\n \"grid_off_p\": 0.1,\n \"bat_sts\": \"standby\",\n \"bat_p\": 0.1,\n \"soc\": 0.01,\n \"sys_pv_p\": 0.1,\n \"sys_plug_p\": 0.1,\n \"sys_bat_p\": 0.1,\n \"sys_grid_p\": 0.1,\n \"sys_load_p\": 0.1,\n \"sys_sp_p\": 0.1,\n \"sys_soc\": 0.01\n}\n```\n\n**qos:**  \n` 0 `\n\n**retain:**  \n`false`\n\n**note:**  \n`grid_on_p` : Active power of the device connected to the grid-on port (minimum unit: 0.1W)  \n`grid_off_p` : Active power of the device away from the grid-off port (minimum unit: 0.1W)  \n`bat_sts` : Device battery status (`standby` : Standby, `charge` : charging, `discharge` : discharging, `lock` : locked)  \n`bat_p` : Device battery power (minimum unit: 0.1W)  \n`soc` : Remaining battery power of the device (minimum unit: 0.01%)  \n`sys_pv_p` : System photovoltaic power (minimum unit: 0.1W)  \n`sys_plug_p` : System socket power (minimum unit: 0.1W)  \n`sys_bat_p` : System battery power (minimum unit: 0.1W)  \n`sys_grid_p` : System grid power (minimum unit: 0.1W)  \n`sys_load_p` : System load power (minimum unit: 0.1W)  \n`sys_sp_p` : System smart socket power (minimum unit: 0.1W)  \n`sys_soc` : System battery power (minimum unit: 0.01%)  \n\n### 11. Device real-time Data (Device Release)\n*Devices are published at intervals of 5 minutes.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/device/state`\n\n**payload:**  \n```json\n{\n    \"grid\":[\n    {\n        \"type\": \"grid_on\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"f\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    },\n    {\n        \"type\": \"grid_off\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"f\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    },\n    {\n        \"type\": \"inv\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    }],\n\n    \"bat_sts\": \"standby\",\n    \"bat_v\": 0.01,\n    \"bat_i\": 0.01,\n    \"bat_p\": 0.1,\n    \"bat_temp\": 0.1,\n    \"soc\": 0.01,\n    \"rssi\": -10\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \n`type` : equipment port type (`grid_on` : and so, `grid_off` : so, `inv` : inverter)  \n`v` : Device port voltage (minimum unit: 0.1V)  \n`i` : Device port current (minimum unit: 0.01A)  \n`f` : Device port frequency (minimum unit: 0.01Hz)  \n`p` : Active power of the device port (minimum unit: 0.1W)  \n`q` : Device port reactive power (minimum unit: 0.1VAR)  \n`ein` : Device port input power of the day (minimum unit: 1Wh)  \n`eout` : Device port output power of the day (minimum unit: 1Wh)  \n`etin` : Historical cumulative input power of the device port (minimum unit: 1Wh)  \n`etout` : Historical cumulative output power of device ports (minimum unit: 1Wh)  \n`bat_sts` : Device battery status (`standby` : on standby, `charge` : charging, `discharge` : discharging, `lock` : locked)  \n`bat_v` : Device battery voltage (minimum unit: 0.01V)  \n`bat_i` : Device battery current (minimum unit: 0.01A)  \n`bat_p` : Device battery power (minimum unit: 0.1W)  \n`bat_temp` : Device battery temperature (minimum unit: 0.1 ° C)  \n`soc` : Remaining battery power of the device (minimum unit: 0.01%)  \n`rssi` : Device signal value (minimum unit: 1dBm)  \n\n### 12. System real-time data (Device release)\n*Devices are released at intervals of 5 minutes. This topic is only available for host and standalone devices.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/system/state`\n\n**payload:**  \n```json\n{\n    \"pv_p\": 0.1,\n    \"plug_p\": 0.1,\n    \"bat_p\": 0.1,\n    \"grid_p\": 0.1,\n    \"load_p\": 0.1,\n    \"sp_p\": 0.1,\n    \"soc\": 0.01,\n    \"pv_e\": 1,\n    \"dchg_e\": 1,\n    \"chg_e\": 1,\n    \"plug_out_e\": 1,\n    \"plug_in_e\": 1,\n \n    \"ems_mode\": \"general\"\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \n`pv_p` : System photovoltaic power (minimum unit: 0.1W)  \n`plug_p` : System socket power (minimum unit: 0.1W)  \n`bat_p` : System battery power (minimum unit: 0.1W)  \n`grid_p` : System grid power (minimum unit: 0.1W)  \n`load_p` : System load power (minimum unit: 0.1W)  \n`sp_p` : System smart socket power (minimum unit: 0.1W)  \n`soc` : System battery power (minimum unit: 0.01%)  \n`pv_e` : Photovoltaic power generation of the system on the day (minimum unit: 1Wh)  \n`dchg_e` : Battery side discharge capacity of the system for the day (minimum unit: 1Wh)  \n`chg_e` : System charge on the battery side for the day (minimum unit: 1Wh)  \n`plug_out_e` : System output of grid-connected sockets on the day (minimum unit: 1Wh)  \n`plug_in_e` : System grid-connected socket input power of the day (minimum unit: 1Wh)  \n`ems_mode` : The current EMS mode of the system (`general`: power controlled by the device itself,`mqtt_ctrl`: Power controlled by mqtt commands) ",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "1dc10dad1fbe7c69",
        "type": "ui_button",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Anzeige",
        "group": "2eee95ac0c6dacc3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc67b3be0d6bd0f",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "7e15052ae82d3d82",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "1dc10dad1fbe7c69"
            ]
        ]
    },
    {
        "id": "da52b7a1395b5c59",
        "type": "ui_button",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Anzeige",
        "group": "b6a22f238602f660",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f7e52d9b6b19fd87",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "67a9035295267095",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 340,
        "wires": [
            [
                "da52b7a1395b5c59"
            ]
        ]
    },
    {
        "id": "62a214195f4a7f84",
        "type": "ui_button",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Anzeige",
        "group": "f58f8ce551b1a818",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "0e721779d58e01b7",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "e8a9358978506991",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 880,
        "wires": [
            [
                "62a214195f4a7f84"
            ]
        ]
    },
    {
        "id": "b31cdc9c93bb23fb",
        "type": "ui_button",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Anzeige",
        "group": "5d990246c91e45b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "{{payload3}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b5f721a8b3b3003c",
        "type": "function",
        "z": "98c5235af1c2aedd",
        "g": "941c5bd0a9c89f29",
        "name": "Anzeige",
        "func": "function mapBatteryStatusToGerman(status) {\n    switch (status) {\n        case \"discharge\":\n            return \"Speicher 1 - Entladen\";\n        case \"standby\":\n            return \"Speicher 1 - Ruhezustand\";\n        case \"charge\":\n            return \"Speicher 1 - Laden\";\n        default:\n            return status;\n    }\n}\n\nfunction mapGermanToColor(text) {\n    switch (text) {\n        case \"Speicher 1 - Entladen\":\n            return \"red\";\n        case \"Speicher 1 - Laden\":\n            return \"green\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"orange\";\n        default:\n            return \"\";\n    }\n}\n\nfunction mapGermanToIcon(text) {\n    switch (text) {\n        case \"Speicher 1 - Laden\":\n            return \"autorenew\";\n        case \"Speicher 1 - Entladen\":\n            return \"cached\";\n        case \"Speicher 1 - Ruhezustand\":\n            return \"pause_circle_outline\";\n        default:\n            return \"\";\n    }\n}\n\nmsg.payload = msg.payload.bat_sts;\n\nconst germanStatus = mapBatteryStatusToGerman(msg.payload);\nmsg.payload2 = germanStatus;\n\nmsg.payload = mapGermanToColor(germanStatus);\nmsg.payload3 = mapGermanToIcon(germanStatus);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 880,
        "wires": [
            [
                "b31cdc9c93bb23fb"
            ]
        ]
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.206",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2eee95ac0c6dacc3",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96665ed94cc8193a",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6a22f238602f660",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f58f8ce551b1a818",
        "type": "ui_group",
        "name": "Speicher 3",
        "tab": "3dbc2bc348a4cead",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d990246c91e45b9",
        "type": "ui_group",
        "name": "Speicher 4",
        "tab": "3dbc2bc348a4cead",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]