flow_002.json
[
    {
        "id": "b27195becc859275",
        "type": "tab",
        "label": "4x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af68a5fcf6e467b3",
        "type": "group",
        "z": "b27195becc859275",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77b64d8b43ac5cb3",
            "2ebda20be0e91d60",
            "63b9999e8df6f105",
            "f1b9180a47d22046",
            "f2dd56286043db08",
            "25f775b10646c626",
            "e39d04c2806dfe10",
            "0a7a0e5d676b7acf",
            "30195dcd74752410",
            "6259fa893828b405",
            "f7dee40788be6c0b",
            "7d6b6e4de0130299",
            "7586d6deaeb006f6",
            "656da4d7681568c6",
            "9e8893d61f19ac91",
            "ab99112cb16fd982",
            "8a0b04e63ad200e0",
            "406d38e5ab8d9a0f",
            "5535558324926d55",
            "8b4d310363d338f7",
            "abbd604d384f1c1b",
            "5e6c355d3dc78232"
        ],
        "x": 54,
        "y": 39,
        "w": 992,
        "h": 502
    },
    {
        "id": "b747de68db443093",
        "type": "group",
        "z": "b27195becc859275",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "293a527c1e1294e8",
            "2d495435b3245d62",
            "3150fa6d7ae8334e",
            "d3db282705d65f45",
            "67e6935d6042855b",
            "039f7dd39a0df7ff",
            "b14e8787eec98427",
            "dc8c49f525904f67",
            "9fab845baa01d82c",
            "32381058ebd48b2e",
            "603f7b88e5a64e06",
            "e87b1a8a99e75bdd",
            "b90e1730220a538c",
            "7bf920d32de4cfb2",
            "760eaa7472ef2aee",
            "c357a4fa0df65f24",
            "6815a3502a7594e5",
            "f9242f0475b69b3e",
            "b3a732e5341eed83",
            "aadf06af8464d75f",
            "e1ef9fbc08dc5083",
            "355399ca76c195d2",
            "02102dd13049e21a",
            "e1a239a9e1f7d633",
            "065639ae591c27f1"
        ],
        "x": 54,
        "y": 1119,
        "w": 2012,
        "h": 402
    },
    {
        "id": "f5edd50145b0bec6",
        "type": "group",
        "z": "b27195becc859275",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7c03494e3a418c35",
            "0a0c3c2b6ab65550",
            "516e34f1e3143213",
            "41409cc52d74b9f5",
            "ee1197cb16d92020",
            "268f2d9cc4269e1d",
            "938e607d0da7b710",
            "43ea17ea1a189527",
            "057330fd564a868f",
            "9c29ec602ee0a17b",
            "a46d1eb206b8c96c",
            "1e924efb40a310dc",
            "b1cce4b9f3057872",
            "b7f199c647cda081",
            "3fbbe7be0974851e",
            "62ba27e2b9632910",
            "b5855a9b696bccf5",
            "0a89ed27720dfa16",
            "938f01bc8e48da47",
            "afe6d1891ac4608a",
            "8fae3fd26e3b3800"
        ],
        "x": 1074,
        "y": 39,
        "w": 992,
        "h": 502
    },
    {
        "id": "6ae7c4baff2d2067",
        "type": "group",
        "z": "b27195becc859275",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2062a3e42b69b2e5",
            "bf6756d88e41c3f7",
            "905470aefd4fba58",
            "611e99c53c02bc39",
            "091ea34744f9dcca",
            "9fbf4e7a889c75b8",
            "d3f758afb11f4828",
            "628d92fed34f1f95",
            "6376a9ba5ed8d05c",
            "99a0348167c61d90",
            "7a4c549e6bc47e24",
            "c4372faccc8b5370",
            "40d9226864db0424",
            "0edfb54682c55c6c",
            "663aa3b3c28fbde9",
            "7c7e75cf6034483d",
            "654312179cd3862e",
            "acfb181a73cbb0a9",
            "efc32f25508ab9b2",
            "997a945160652e2f",
            "2f6afbaf5adb0098"
        ],
        "x": 54,
        "y": 579,
        "w": 992,
        "h": 502
    },
    {
        "id": "acd2e67cea53c39a",
        "type": "group",
        "z": "b27195becc859275",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bc6348cbfaf8727e",
            "bc13d4923ef98bf7",
            "085de7585a4158eb",
            "eb3abc8b3ef98f82",
            "28b2c7285c9d3e2d",
            "6a9c3345c1c0f040",
            "3cd928eb2814c8fc",
            "3423116bc8e9eda9",
            "9d2cbed3fd14a5b0",
            "87739f4108d86be2",
            "8b805675152cd174",
            "ccc8731ed2f14636",
            "1c7e86ccf43d19db",
            "27a537cf3d485199",
            "f78ae82057afe27a",
            "9b350f62fdba0b75",
            "fe7fc86446098f0f",
            "633d14fa1d1f9c6d",
            "a5ba49bd22a21e48",
            "071a12833890394f",
            "932f40d4be87f31a"
        ],
        "x": 1074,
        "y": 579,
        "w": 992,
        "h": 502
    },
    {
        "id": "5535558324926d55",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "8b4d310363d338f7",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "5535558324926d55"
            ]
        ]
    },
    {
        "id": "77b64d8b43ac5cb3",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e39d04c2806dfe10",
                "0a7a0e5d676b7acf",
                "30195dcd74752410"
            ]
        ]
    },
    {
        "id": "2ebda20be0e91d60",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "group": "8eca502d9e109fdb",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "63b9999e8df6f105",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "6259fa893828b405",
                "7d6b6e4de0130299"
            ]
        ]
    },
    {
        "id": "f1b9180a47d22046",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "group": "8eca502d9e109fdb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "f2dd56286043db08",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "group": "8eca502d9e109fdb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "abbd604d384f1c1b",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 210,
        "y": 460,
        "wires": []
    },
    {
        "id": "25f775b10646c626",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "group": "8eca502d9e109fdb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "e39d04c2806dfe10",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "ab99112cb16fd982"
            ]
        ]
    },
    {
        "id": "0a7a0e5d676b7acf",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "7586d6deaeb006f6"
            ]
        ]
    },
    {
        "id": "30195dcd74752410",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "8a0b04e63ad200e0"
            ]
        ]
    },
    {
        "id": "6259fa893828b405",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "406d38e5ab8d9a0f"
            ]
        ]
    },
    {
        "id": "f7dee40788be6c0b",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "group": "8eca502d9e109fdb",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "7d6b6e4de0130299",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "f7dee40788be6c0b"
            ]
        ]
    },
    {
        "id": "293a527c1e1294e8",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Regelung Hoymiles 4x Speicher",
        "info": "",
        "x": 210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2d495435b3245d62",
        "type": "shelly-gen2",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "200",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "3150fa6d7ae8334e"
            ]
        ]
    },
    {
        "id": "3150fa6d7ae8334e",
        "type": "change",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "d3db282705d65f45",
                "b14e8787eec98427"
            ]
        ]
    },
    {
        "id": "d3db282705d65f45",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "c357a4fa0df65f24"
            ]
        ]
    },
    {
        "id": "67e6935d6042855b",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Stellwert Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 1280,
        "wires": []
    },
    {
        "id": "039f7dd39a0df7ff",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "group": "f9c729f7db964e48",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stellwert",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1340,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b14e8787eec98427",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "PI-Regler",
        "func": "// PI-Regler mit Anti-Windup (Clamping) und Begrenzung von -4000 bis +4000\n\nconst Kp = 0.4;     // Proportionalfaktor\nconst Ki = 0.1;     // Integralfaktor\n\n// Einlesen der Zustände\nlet fehler = msg.payload;\nlet now = Date.now();\nlet lastTime = context.get(\"lastTime\") || now;\nlet dt = Math.max((now - lastTime) / 1000, 0.001); // Zeitdifferenz, min. 1 ms\n\ncontext.set(\"lastTime\", now);\n\n// Reglergrenzen\nconst outputMin = -4000;\nconst outputMax = 4000;\n\n// Integratorstatus\nlet integral = context.get(\"integral\") || 0;\nlet newIntegral = integral + fehler * dt;\n\n// PI-Ausgang berechnen (vor Clamping)\nlet output = Kp * fehler + Ki * newIntegral;\n\n// Anti-Windup durch Clamping\nif (output > outputMax) {\n    output = outputMax;\n    if (fehler < 0) integral = newIntegral;\n} else if (output < outputMin) {\n    output = outputMin;\n    if (fehler > 0) integral = newIntegral;\n} else {\n    integral = newIntegral;\n}\n\n// Zustand speichern\ncontext.set(\"integral\", integral);\n\n// Ausgang setzen\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1280,
        "wires": [
            [
                "dc8c49f525904f67"
            ]
        ]
    },
    {
        "id": "7586d6deaeb006f6",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "f2dd56286043db08"
            ]
        ]
    },
    {
        "id": "656da4d7681568c6",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Speicher 1",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e8893d61f19ac91",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "Info bitte lesen",
        "info": "1.)\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\nnode-red-contrib-simple-gate\nnode-red-contrib-ui-time-scheduler\n\n2.)\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\n3.)\nDie Seriennummer des Hoymiles Speichers muss in den MQTT Nodes angepasst werden.\n\n4.)\nMQTT in die Hoymiles App aktivieren.",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "dc8c49f525904f67",
        "type": "gate",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1070,
        "y": 1280,
        "wires": [
            [
                "039f7dd39a0df7ff",
                "6815a3502a7594e5"
            ]
        ]
    },
    {
        "id": "9fab845baa01d82c",
        "type": "change",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "close",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "open",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1400,
        "wires": [
            [
                "039f7dd39a0df7ff",
                "6815a3502a7594e5"
            ]
        ]
    },
    {
        "id": "32381058ebd48b2e",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Zeitschaltuhr",
        "info": "",
        "x": 230,
        "y": 1340,
        "wires": []
    },
    {
        "id": "603f7b88e5a64e06",
        "type": "ui_time_scheduler",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "group": "e0a8edcc62f7e5e3",
        "name": "Zeitschaltuhr",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Zeitschaltuhr"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 6,
        "height": 2,
        "x": 610,
        "y": 1380,
        "wires": [
            [
                "e87b1a8a99e75bdd"
            ],
            [
                "760eaa7472ef2aee"
            ]
        ]
    },
    {
        "id": "e87b1a8a99e75bdd",
        "type": "file",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "filename": "./timerHM.data",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 800,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "b90e1730220a538c",
        "type": "file in",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "filename": "./timerHM.data",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "603f7b88e5a64e06"
            ]
        ]
    },
    {
        "id": "7bf920d32de4cfb2",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Reboot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1380,
        "wires": [
            [
                "b90e1730220a538c"
            ]
        ]
    },
    {
        "id": "760eaa7472ef2aee",
        "type": "change",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1400,
        "wires": [
            [
                "9fab845baa01d82c",
                "dc8c49f525904f67"
            ]
        ]
    },
    {
        "id": "ab99112cb16fd982",
        "type": "function",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "2ebda20be0e91d60"
            ]
        ]
    },
    {
        "id": "8a0b04e63ad200e0",
        "type": "function",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "25f775b10646c626",
                "5e6c355d3dc78232"
            ]
        ]
    },
    {
        "id": "c357a4fa0df65f24",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1240,
        "wires": [
            [
                "065639ae591c27f1"
            ]
        ]
    },
    {
        "id": "406d38e5ab8d9a0f",
        "type": "function",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "f1b9180a47d22046"
            ]
        ]
    },
    {
        "id": "6815a3502a7594e5",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Leistung für vier Speicher",
        "func": "var math = Number(msg.payload) /4;\nmsg.payload = math;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1280,
        "wires": [
            [
                "67e6935d6042855b",
                "f9242f0475b69b3e",
                "b3a732e5341eed83",
                "aadf06af8464d75f"
            ]
        ]
    },
    {
        "id": "f9242f0475b69b3e",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Stellwert Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b3a732e5341eed83",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Stellwert Speicher 3",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 1400,
        "wires": []
    },
    {
        "id": "aadf06af8464d75f",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Stellwert Speicher 4",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7c03494e3a418c35",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 160,
        "wires": [
            [
                "938e607d0da7b710",
                "43ea17ea1a189527",
                "057330fd564a868f"
            ]
        ]
    },
    {
        "id": "0a0c3c2b6ab65550",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "group": "dee91541b925e7e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 280,
        "wires": []
    },
    {
        "id": "516e34f1e3143213",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "9c29ec602ee0a17b",
                "1e924efb40a310dc"
            ]
        ]
    },
    {
        "id": "41409cc52d74b9f5",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "group": "dee91541b925e7e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 320,
        "wires": []
    },
    {
        "id": "ee1197cb16d92020",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "group": "dee91541b925e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 160,
        "wires": []
    },
    {
        "id": "268f2d9cc4269e1d",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "group": "dee91541b925e7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1920,
        "y": 200,
        "wires": []
    },
    {
        "id": "938e607d0da7b710",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 280,
        "wires": [
            [
                "3fbbe7be0974851e"
            ]
        ]
    },
    {
        "id": "43ea17ea1a189527",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 160,
        "wires": [
            [
                "b1cce4b9f3057872"
            ]
        ]
    },
    {
        "id": "057330fd564a868f",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 200,
        "wires": [
            [
                "62ba27e2b9632910"
            ]
        ]
    },
    {
        "id": "9c29ec602ee0a17b",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 320,
        "wires": [
            [
                "b5855a9b696bccf5"
            ]
        ]
    },
    {
        "id": "a46d1eb206b8c96c",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "group": "dee91541b925e7e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 360,
        "wires": []
    },
    {
        "id": "1e924efb40a310dc",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 360,
        "wires": [
            [
                "a46d1eb206b8c96c"
            ]
        ]
    },
    {
        "id": "b1cce4b9f3057872",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 160,
        "wires": [
            [
                "ee1197cb16d92020"
            ]
        ]
    },
    {
        "id": "b7f199c647cda081",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Speicher 2",
        "info": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "3fbbe7be0974851e",
        "type": "function",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 280,
        "wires": [
            [
                "0a0c3c2b6ab65550"
            ]
        ]
    },
    {
        "id": "62ba27e2b9632910",
        "type": "function",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 200,
        "wires": [
            [
                "268f2d9cc4269e1d",
                "8fae3fd26e3b3800"
            ]
        ]
    },
    {
        "id": "b5855a9b696bccf5",
        "type": "function",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 320,
        "wires": [
            [
                "41409cc52d74b9f5"
            ]
        ]
    },
    {
        "id": "0a89ed27720dfa16",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "938f01bc8e48da47",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 1260,
        "y": 500,
        "wires": [
            [
                "0a89ed27720dfa16"
            ]
        ]
    },
    {
        "id": "afe6d1891ac4608a",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 1230,
        "y": 460,
        "wires": []
    },
    {
        "id": "2062a3e42b69b2e5",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "d3f758afb11f4828",
                "628d92fed34f1f95",
                "6376a9ba5ed8d05c"
            ]
        ]
    },
    {
        "id": "bf6756d88e41c3f7",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "group": "db6cdad420edd5cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 820,
        "wires": []
    },
    {
        "id": "905470aefd4fba58",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 860,
        "wires": [
            [
                "99a0348167c61d90",
                "c4372faccc8b5370"
            ]
        ]
    },
    {
        "id": "611e99c53c02bc39",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "group": "db6cdad420edd5cc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "091ea34744f9dcca",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "group": "db6cdad420edd5cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "9fbf4e7a889c75b8",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "group": "db6cdad420edd5cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 740,
        "wires": []
    },
    {
        "id": "d3f758afb11f4828",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 820,
        "wires": [
            [
                "663aa3b3c28fbde9"
            ]
        ]
    },
    {
        "id": "628d92fed34f1f95",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "40d9226864db0424"
            ]
        ]
    },
    {
        "id": "6376a9ba5ed8d05c",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 740,
        "wires": [
            [
                "7c7e75cf6034483d"
            ]
        ]
    },
    {
        "id": "99a0348167c61d90",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "654312179cd3862e"
            ]
        ]
    },
    {
        "id": "7a4c549e6bc47e24",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "group": "db6cdad420edd5cc",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "c4372faccc8b5370",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "7a4c549e6bc47e24"
            ]
        ]
    },
    {
        "id": "40d9226864db0424",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "091ea34744f9dcca"
            ]
        ]
    },
    {
        "id": "0edfb54682c55c6c",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Speicher 3",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "663aa3b3c28fbde9",
        "type": "function",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 820,
        "wires": [
            [
                "bf6756d88e41c3f7"
            ]
        ]
    },
    {
        "id": "7c7e75cf6034483d",
        "type": "function",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 740,
        "wires": [
            [
                "9fbf4e7a889c75b8",
                "2f6afbaf5adb0098"
            ]
        ]
    },
    {
        "id": "654312179cd3862e",
        "type": "function",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 860,
        "wires": [
            [
                "611e99c53c02bc39"
            ]
        ]
    },
    {
        "id": "acfb181a73cbb0a9",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 510,
        "y": 1040,
        "wires": []
    },
    {
        "id": "efc32f25508ab9b2",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "acfb181a73cbb0a9"
            ]
        ]
    },
    {
        "id": "997a945160652e2f",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 210,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bc6348cbfaf8727e",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 700,
        "wires": [
            [
                "3cd928eb2814c8fc",
                "3423116bc8e9eda9",
                "9d2cbed3fd14a5b0"
            ]
        ]
    },
    {
        "id": "bc13d4923ef98bf7",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "group": "4b586ed37bf28551",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 820,
        "wires": []
    },
    {
        "id": "085de7585a4158eb",
        "type": "mqtt in",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 860,
        "wires": [
            [
                "87739f4108d86be2",
                "ccc8731ed2f14636"
            ]
        ]
    },
    {
        "id": "eb3abc8b3ef98f82",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "group": "4b586ed37bf28551",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 860,
        "wires": []
    },
    {
        "id": "28b2c7285c9d3e2d",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "group": "4b586ed37bf28551",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 700,
        "wires": []
    },
    {
        "id": "6a9c3345c1c0f040",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "group": "4b586ed37bf28551",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1920,
        "y": 740,
        "wires": []
    },
    {
        "id": "3cd928eb2814c8fc",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 820,
        "wires": [
            [
                "f78ae82057afe27a"
            ]
        ]
    },
    {
        "id": "3423116bc8e9eda9",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 700,
        "wires": [
            [
                "1c7e86ccf43d19db"
            ]
        ]
    },
    {
        "id": "9d2cbed3fd14a5b0",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 740,
        "wires": [
            [
                "9b350f62fdba0b75"
            ]
        ]
    },
    {
        "id": "87739f4108d86be2",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "fe7fc86446098f0f"
            ]
        ]
    },
    {
        "id": "8b805675152cd174",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "group": "4b586ed37bf28551",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 900,
        "wires": []
    },
    {
        "id": "ccc8731ed2f14636",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 900,
        "wires": [
            [
                "8b805675152cd174"
            ]
        ]
    },
    {
        "id": "1c7e86ccf43d19db",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 700,
        "wires": [
            [
                "28b2c7285c9d3e2d"
            ]
        ]
    },
    {
        "id": "27a537cf3d485199",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Speicher 4",
        "info": "",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "f78ae82057afe27a",
        "type": "function",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 820,
        "wires": [
            [
                "bc13d4923ef98bf7"
            ]
        ]
    },
    {
        "id": "9b350f62fdba0b75",
        "type": "function",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 740,
        "wires": [
            [
                "6a9c3345c1c0f040",
                "932f40d4be87f31a"
            ]
        ]
    },
    {
        "id": "fe7fc86446098f0f",
        "type": "function",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 860,
        "wires": [
            [
                "eb3abc8b3ef98f82"
            ]
        ]
    },
    {
        "id": "633d14fa1d1f9c6d",
        "type": "mqtt out",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1530,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a5ba49bd22a21e48",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 1260,
        "y": 1040,
        "wires": [
            [
                "633d14fa1d1f9c6d"
            ]
        ]
    },
    {
        "id": "071a12833890394f",
        "type": "comment",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 1230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5e6c355d3dc78232",
        "type": "change",
        "z": "b27195becc859275",
        "g": "af68a5fcf6e467b3",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8fae3fd26e3b3800",
        "type": "change",
        "z": "b27195becc859275",
        "g": "f5edd50145b0bec6",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6afbaf5adb0098",
        "type": "change",
        "z": "b27195becc859275",
        "g": "6ae7c4baff2d2067",
        "name": "P3",
        "rules": [
            {
                "t": "set",
                "p": "P3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "932f40d4be87f31a",
        "type": "change",
        "z": "b27195becc859275",
        "g": "acd2e67cea53c39a",
        "name": "P4",
        "rules": [
            {
                "t": "set",
                "p": "P4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "e1ef9fbc08dc5083",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Summe Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\nlet p3 = global.get(\"P3\") || 0;\nlet p4 = global.get(\"P4\") || 0;\n\nlet summe = p1 + p2 + p3 + p4;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "e1a239a9e1f7d633"
            ]
        ]
    },
    {
        "id": "355399ca76c195d2",
        "type": "inject",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "e1ef9fbc08dc5083"
            ]
        ]
    },
    {
        "id": "02102dd13049e21a",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "group": "f9c729f7db964e48",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1480,
        "wires": []
    },
    {
        "id": "e1a239a9e1f7d633",
        "type": "function",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "02102dd13049e21a"
            ]
        ]
    },
    {
        "id": "065639ae591c27f1",
        "type": "ui_text",
        "z": "b27195becc859275",
        "g": "b747de68db443093",
        "group": "f9c729f7db964e48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.206",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8eca502d9e109fdb",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9c729f7db964e48",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0a8edcc62f7e5e3",
        "type": "ui_group",
        "name": "Zeitschaltuhr",
        "tab": "3dbc2bc348a4cead",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dee91541b925e7e8",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "db6cdad420edd5cc",
        "type": "ui_group",
        "name": "Speicher 3",
        "tab": "3dbc2bc348a4cead",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b586ed37bf28551",
        "type": "ui_group",
        "name": "Speicher 4",
        "tab": "3dbc2bc348a4cead",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
