flow_002_2xspeicher.json
[
    {
        "id": "056ef2d5f4959fc3",
        "type": "tab",
        "label": "2x Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "607ef0d1ba498590",
        "type": "group",
        "z": "056ef2d5f4959fc3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1f1612b11fda65f0",
            "d6a6de7e1864ed08",
            "f57c0d3088070f87",
            "bcd1d1fb68f7af37",
            "d8e68c4887927822",
            "832643837aa2f482",
            "9d84db3a72d98716",
            "81a24920d6a49f45",
            "d346ac5fb446d288",
            "2c677b6d9305eb71",
            "919233b07d64e1b3",
            "520ed8f4fdf22268",
            "8c020c864c5cce30",
            "296ac432cb490c59",
            "17781b8bb22995ab",
            "7bf26f934cbe62eb",
            "2e84fb4be50b0760",
            "5d4f29b25bd9ba32",
            "15001b4e6b7b30eb",
            "efc3be4aff091e54",
            "fe5ecb618258f95b",
            "2b0b38cdea123575"
        ],
        "x": 54,
        "y": 39,
        "w": 992,
        "h": 502
    },
    {
        "id": "81ee63dbe4a9df21",
        "type": "group",
        "z": "056ef2d5f4959fc3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3c6b0c8e16aae4c0",
            "c9a7b9b9b8344ccb",
            "89830a36021c8fd4",
            "d756afe04c3a395b",
            "4a2082d222d92b69",
            "42a420c47c8cd14b",
            "f8660e5fb4db462b",
            "ba24a3d8b1b24910",
            "dcbade2908b8206a",
            "69aae0b85c15f451",
            "e1133667bdc19024",
            "bbb63b2c4a87c7aa",
            "fd39e190243bf1e9",
            "92597296c5ff89da",
            "01aac92a3e7e194e",
            "f950829109f57afe",
            "ba63f5ca2290097f",
            "df0cab36aaae1590",
            "28720afe3701c442",
            "a1f58129d03bf707",
            "9a266a2cc8e1e37c",
            "a35e7350b34b2b5e",
            "5359e9714a82591e"
        ],
        "x": 54,
        "y": 579,
        "w": 2012,
        "h": 402
    },
    {
        "id": "d3425167395dba6b",
        "type": "group",
        "z": "056ef2d5f4959fc3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e5b92e2d0c4182ba",
            "b7dc18f482be42f4",
            "1cc19c11e87507df",
            "3b1465bd7de0131f",
            "d9bff577856ca8d1",
            "8ce6ede6d3c7a33e",
            "189dc527b9c3f019",
            "376855f51c288ca2",
            "c2814ac5bcf938f0",
            "585cfab9b5b04778",
            "1d0c101019d085a8",
            "6fa50105448e2d54",
            "196cb75cb94bfd99",
            "32dd436d9529bb85",
            "aa28e644773c7252",
            "34d6353002ff05c5",
            "627f26a4cee99c36",
            "200fcc69528e0203",
            "aae1afc489e98c37",
            "c0d898c5851505b5",
            "88415db93ebf4f8f"
        ],
        "x": 1074,
        "y": 39,
        "w": 992,
        "h": 502
    },
    {
        "id": "15001b4e6b7b30eb",
        "type": "mqtt out",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "efc3be4aff091e54",
        "type": "inject",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "15001b4e6b7b30eb"
            ]
        ]
    },
    {
        "id": "1f1612b11fda65f0",
        "type": "mqtt in",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "9d84db3a72d98716",
                "81a24920d6a49f45",
                "d346ac5fb446d288"
            ]
        ]
    },
    {
        "id": "d6a6de7e1864ed08",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "group": "8eca502d9e109fdb",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "f57c0d3088070f87",
        "type": "mqtt in",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "2c677b6d9305eb71",
                "520ed8f4fdf22268"
            ]
        ]
    },
    {
        "id": "bcd1d1fb68f7af37",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "group": "8eca502d9e109fdb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "d8e68c4887927822",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "group": "8eca502d9e109fdb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe5ecb618258f95b",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 210,
        "y": 460,
        "wires": []
    },
    {
        "id": "832643837aa2f482",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "group": "8eca502d9e109fdb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "9d84db3a72d98716",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "7bf26f934cbe62eb"
            ]
        ]
    },
    {
        "id": "81a24920d6a49f45",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "8c020c864c5cce30"
            ]
        ]
    },
    {
        "id": "d346ac5fb446d288",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "2e84fb4be50b0760"
            ]
        ]
    },
    {
        "id": "2c677b6d9305eb71",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "5d4f29b25bd9ba32"
            ]
        ]
    },
    {
        "id": "919233b07d64e1b3",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "group": "8eca502d9e109fdb",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "520ed8f4fdf22268",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "919233b07d64e1b3"
            ]
        ]
    },
    {
        "id": "3c6b0c8e16aae4c0",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Regelung Hoymiles 2x Speicher",
        "info": "",
        "x": 210,
        "y": 620,
        "wires": []
    },
    {
        "id": "c9a7b9b9b8344ccb",
        "type": "shelly-gen2",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "hostname": "192.168.1.24",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "200",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "89830a36021c8fd4"
            ]
        ]
    },
    {
        "id": "89830a36021c8fd4",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "d756afe04c3a395b",
                "f8660e5fb4db462b"
            ]
        ]
    },
    {
        "id": "d756afe04c3a395b",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 700,
        "wires": [
            [
                "f950829109f57afe"
            ]
        ]
    },
    {
        "id": "4a2082d222d92b69",
        "type": "mqtt out",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Stellwert Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 740,
        "wires": []
    },
    {
        "id": "42a420c47c8cd14b",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "group": "ccac462752d7b9c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stellwert",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1340,
        "y": 860,
        "wires": []
    },
    {
        "id": "f8660e5fb4db462b",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "PI-Regler",
        "func": "// PI-Regler mit Anti-Windup (Clamping) und Begrenzung von -4000 bis +4000\n\nconst Kp = 0.4;     // Proportionalfaktor\nconst Ki = 0.1;     // Integralfaktor\n\n// Einlesen der Zustände\nlet fehler = msg.payload;\nlet now = Date.now();\nlet lastTime = context.get(\"lastTime\") || now;\nlet dt = Math.max((now - lastTime) / 1000, 0.001); // Zeitdifferenz, min. 1 ms\n\ncontext.set(\"lastTime\", now);\n\n// Reglergrenzen\nconst outputMin = -2000;\nconst outputMax = 2000;\n\n// Integratorstatus\nlet integral = context.get(\"integral\") || 0;\nlet newIntegral = integral + fehler * dt;\n\n// PI-Ausgang berechnen (vor Clamping)\nlet output = Kp * fehler + Ki * newIntegral;\n\n// Anti-Windup durch Clamping\nif (output > outputMax) {\n    output = outputMax;\n    if (fehler < 0) integral = newIntegral;\n} else if (output < outputMin) {\n    output = outputMin;\n    if (fehler > 0) integral = newIntegral;\n} else {\n    integral = newIntegral;\n}\n\n// Zustand speichern\ncontext.set(\"integral\", integral);\n\n// Ausgang setzen\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 740,
        "wires": [
            [
                "ba24a3d8b1b24910"
            ]
        ]
    },
    {
        "id": "8c020c864c5cce30",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "d8e68c4887927822"
            ]
        ]
    },
    {
        "id": "296ac432cb490c59",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Speicher 1",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "17781b8bb22995ab",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "Info bitte lesen",
        "info": "1.)\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\nnode-red-contrib-simple-gate\nnode-red-contrib-ui-time-scheduler\n\n2.)\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\n3.)\nDie Seriennummer des Hoymiles Speichers muss in den MQTT Nodes angepasst werden.\n\n4.)\nMQTT in der Hoymiles App aktivieren.",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "ba24a3d8b1b24910",
        "type": "gate",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1070,
        "y": 740,
        "wires": [
            [
                "42a420c47c8cd14b",
                "ba63f5ca2290097f"
            ]
        ]
    },
    {
        "id": "dcbade2908b8206a",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "close",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "open",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 860,
        "wires": [
            [
                "42a420c47c8cd14b",
                "ba63f5ca2290097f"
            ]
        ]
    },
    {
        "id": "69aae0b85c15f451",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Zeitschaltuhr",
        "info": "",
        "x": 230,
        "y": 800,
        "wires": []
    },
    {
        "id": "e1133667bdc19024",
        "type": "ui_time_scheduler",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "group": "cadb0ad171a49db1",
        "name": "Zeitschaltuhr",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Zeitschaltuhr"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 6,
        "height": 2,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "bbb63b2c4a87c7aa"
            ],
            [
                "01aac92a3e7e194e"
            ]
        ]
    },
    {
        "id": "bbb63b2c4a87c7aa",
        "type": "file",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "filename": "./timerHM.data",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 800,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fd39e190243bf1e9",
        "type": "file in",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "filename": "./timerHM.data",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 840,
        "wires": [
            [
                "e1133667bdc19024"
            ]
        ]
    },
    {
        "id": "92597296c5ff89da",
        "type": "inject",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Reboot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 840,
        "wires": [
            [
                "fd39e190243bf1e9"
            ]
        ]
    },
    {
        "id": "01aac92a3e7e194e",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 860,
        "wires": [
            [
                "dcbade2908b8206a",
                "ba24a3d8b1b24910"
            ]
        ]
    },
    {
        "id": "7bf26f934cbe62eb",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "d6a6de7e1864ed08"
            ]
        ]
    },
    {
        "id": "2e84fb4be50b0760",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "832643837aa2f482",
                "2b0b38cdea123575"
            ]
        ]
    },
    {
        "id": "f950829109f57afe",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 700,
        "wires": [
            [
                "5359e9714a82591e"
            ]
        ]
    },
    {
        "id": "5d4f29b25bd9ba32",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "bcd1d1fb68f7af37"
            ]
        ]
    },
    {
        "id": "ba63f5ca2290097f",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Leistung für zwei Speicher",
        "func": "var math = Number(msg.payload) /2;\nmsg.payload = math;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 740,
        "wires": [
            [
                "4a2082d222d92b69",
                "df0cab36aaae1590"
            ]
        ]
    },
    {
        "id": "df0cab36aaae1590",
        "type": "mqtt out",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Stellwert Speicher 2",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1940,
        "y": 800,
        "wires": []
    },
    {
        "id": "e5b92e2d0c4182ba",
        "type": "mqtt in",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 160,
        "wires": [
            [
                "189dc527b9c3f019",
                "376855f51c288ca2",
                "c2814ac5bcf938f0"
            ]
        ]
    },
    {
        "id": "b7dc18f482be42f4",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "group": "9b95df95ec635211",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cc19c11e87507df",
        "type": "mqtt in",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "585cfab9b5b04778",
                "6fa50105448e2d54"
            ]
        ]
    },
    {
        "id": "3b1465bd7de0131f",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "group": "9b95df95ec635211",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9bff577856ca8d1",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "group": "9b95df95ec635211",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 160,
        "wires": []
    },
    {
        "id": "8ce6ede6d3c7a33e",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "group": "9b95df95ec635211",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1920,
        "y": 200,
        "wires": []
    },
    {
        "id": "189dc527b9c3f019",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 280,
        "wires": [
            [
                "aa28e644773c7252"
            ]
        ]
    },
    {
        "id": "376855f51c288ca2",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 160,
        "wires": [
            [
                "196cb75cb94bfd99"
            ]
        ]
    },
    {
        "id": "c2814ac5bcf938f0",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 200,
        "wires": [
            [
                "34d6353002ff05c5"
            ]
        ]
    },
    {
        "id": "585cfab9b5b04778",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 320,
        "wires": [
            [
                "627f26a4cee99c36"
            ]
        ]
    },
    {
        "id": "1d0c101019d085a8",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "group": "9b95df95ec635211",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WLAN Signalstärke",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 360,
        "wires": []
    },
    {
        "id": "6fa50105448e2d54",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "WLAN Signalstärke",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 360,
        "wires": [
            [
                "1d0c101019d085a8"
            ]
        ]
    },
    {
        "id": "196cb75cb94bfd99",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 160,
        "wires": [
            [
                "d9bff577856ca8d1"
            ]
        ]
    },
    {
        "id": "32dd436d9529bb85",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Speicher 2",
        "info": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa28e644773c7252",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 280,
        "wires": [
            [
                "b7dc18f482be42f4"
            ]
        ]
    },
    {
        "id": "34d6353002ff05c5",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 200,
        "wires": [
            [
                "8ce6ede6d3c7a33e",
                "88415db93ebf4f8f"
            ]
        ]
    },
    {
        "id": "627f26a4cee99c36",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 320,
        "wires": [
            [
                "3b1465bd7de0131f"
            ]
        ]
    },
    {
        "id": "200fcc69528e0203",
        "type": "mqtt out",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "aae1afc489e98c37",
        "type": "inject",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 1260,
        "y": 500,
        "wires": [
            [
                "200fcc69528e0203"
            ]
        ]
    },
    {
        "id": "c0d898c5851505b5",
        "type": "comment",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 1230,
        "y": 460,
        "wires": []
    },
    {
        "id": "2b0b38cdea123575",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "607ef0d1ba498590",
        "name": "P1",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "88415db93ebf4f8f",
        "type": "change",
        "z": "056ef2d5f4959fc3",
        "g": "d3425167395dba6b",
        "name": "P2",
        "rules": [
            {
                "t": "set",
                "p": "P1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "28720afe3701c442",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Summe Speicher",
        "func": "let p1 = global.get(\"P1\") || 0;\nlet p2 = global.get(\"P2\") || 0;\n\nlet summe = p1 + p2;\n\nmsg.payload = summe;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 940,
        "wires": [
            [
                "a35e7350b34b2b5e"
            ]
        ]
    },
    {
        "id": "a1f58129d03bf707",
        "type": "inject",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "28720afe3701c442"
            ]
        ]
    },
    {
        "id": "9a266a2cc8e1e37c",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "group": "ccac462752d7b9c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung Speicher",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 940,
        "wires": []
    },
    {
        "id": "a35e7350b34b2b5e",
        "type": "function",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "name": "Nachkommastellen löschen",
        "func": "msg.payload= msg.payload.toFixed(0);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 940,
        "wires": [
            [
                "9a266a2cc8e1e37c"
            ]
        ]
    },
    {
        "id": "5359e9714a82591e",
        "type": "ui_text",
        "z": "056ef2d5f4959fc3",
        "g": "81ee63dbe4a9df21",
        "group": "ccac462752d7b9c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Netzanschluss",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.206",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8eca502d9e109fdb",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ccac462752d7b9c4",
        "type": "ui_group",
        "name": "Übersicht",
        "tab": "3dbc2bc348a4cead",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cadb0ad171a49db1",
        "type": "ui_group",
        "name": "Zeitschaltuhr",
        "tab": "3dbc2bc348a4cead",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b95df95ec635211",
        "type": "ui_group",
        "name": "Speicher 2",
        "tab": "3dbc2bc348a4cead",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
