hm_basic_v002.json
[
    {
        "id": "2362f8b66fc6bf89",
        "type": "tab",
        "label": "Hoymiles MS-A2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a367e549755c0d7e",
        "type": "group",
        "z": "2362f8b66fc6bf89",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8f87a7b084593150",
            "854fd748f72e3ba7",
            "3ac54fd60ac68753",
            "9b3cba05d8068a68",
            "51cb6ee539b9c7b8",
            "8ea47a8c897a6b5b",
            "3a1b50a41d42f9db",
            "6111773e55561761",
            "c6a03f736c8445dc",
            "a9399bb716b2a311",
            "82d52424e7f2150f",
            "05997e16089294a2",
            "daea5b38251b0929",
            "850aff40ceb20273",
            "2b6c6e06e73538de",
            "f0e147a73b702db3",
            "6ab1becf7293cf14",
            "847702da91d2b5b2",
            "dae701ced4a468b2",
            "270bdd45d7bc313c",
            "7cdec6f6f9b32514",
            "c16c49d844da8f7d",
            "2e990312b002ba85"
        ],
        "x": 34,
        "y": 219,
        "w": 992,
        "h": 502
    },
    {
        "id": "da7159b5cfbbcdfd",
        "type": "group",
        "z": "2362f8b66fc6bf89",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dd563ee8b25777cf",
            "74b67021b468cefb"
        ],
        "x": 34,
        "y": 39,
        "w": 512,
        "h": 142
    },
    {
        "id": "6ab1becf7293cf14",
        "type": "mqtt out",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Aktivierung MQTT Control",
        "topic": "homeassistant/select/MSA-12345678/ems_mode/command",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "f0e147a73b702db3",
        "type": "inject",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Aktivierung MQTT Control",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "mqtt_ctrl",
        "payloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "6ab1becf7293cf14"
            ]
        ]
    },
    {
        "id": "8f87a7b084593150",
        "type": "mqtt in",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Quick Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/quick/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "3a1b50a41d42f9db",
                "6111773e55561761",
                "c6a03f736c8445dc"
            ]
        ]
    },
    {
        "id": "854fd748f72e3ba7",
        "type": "ui_text",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "group": "8eca502d9e109fdb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie SOC",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ac54fd60ac68753",
        "type": "mqtt in",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Device Abfrage Hoymiles",
        "topic": "homeassistant/sensor/MSA-12345678/device/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9fe3ac6adcf287e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "a9399bb716b2a311"
            ]
        ]
    },
    {
        "id": "9b3cba05d8068a68",
        "type": "ui_text",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "group": "8eca502d9e109fdb",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "51cb6ee539b9c7b8",
        "type": "ui_text",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "group": "8eca502d9e109fdb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batterie Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "847702da91d2b5b2",
        "type": "comment",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Aktivierung MQTT Control",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "8ea47a8c897a6b5b",
        "type": "ui_text",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "group": "8eca502d9e109fdb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Leistung",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "3a1b50a41d42f9db",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Batterie SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "daea5b38251b0929"
            ]
        ]
    },
    {
        "id": "6111773e55561761",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Batterie Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_sts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "82d52424e7f2150f"
            ]
        ]
    },
    {
        "id": "c6a03f736c8445dc",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Hoymiles Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.grid_on_p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "850aff40ceb20273"
            ]
        ]
    },
    {
        "id": "a9399bb716b2a311",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Batterie Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "2b6c6e06e73538de"
            ]
        ]
    },
    {
        "id": "270bdd45d7bc313c",
        "type": "comment",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Regelung Hoymiles Speicher",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "7cdec6f6f9b32514",
        "type": "shelly-gen2",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "hostname": "192.168.1.20",
        "description": "Shelly 3Pro EM",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "1000",
        "pollstatus": true,
        "getstatusoncommand": false,
        "devicetype": "SPEM-003CEBEU",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "dae701ced4a468b2"
            ]
        ]
    },
    {
        "id": "dae701ced4a468b2",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Leistung Netzanschluss",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.em0.total_act_power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "2e990312b002ba85"
            ]
        ]
    },
    {
        "id": "c16c49d844da8f7d",
        "type": "mqtt out",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Stellwert Speicher 1",
        "topic": "homeassistant/number/MSA-12345678/power_ctrl/set",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fe3ac6adcf287e4",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "2e990312b002ba85",
        "type": "function",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "PI-Regler",
        "func": "// PI-Regler mit Anti-Windup (Clamping) und Begrenzung von -800 bis +800\n\nconst Kp = 0.4;     // Proportionalfaktor\nconst Ki = 0.1;     // Integralfaktor\n\n// Einlesen der Zustände\nlet fehler = msg.payload;\nlet now = Date.now();\nlet lastTime = context.get(\"lastTime\") || now;\nlet dt = Math.max((now - lastTime) / 1000, 0.001); // Zeitdifferenz, min. 1 ms\n\ncontext.set(\"lastTime\", now);\n\n// Reglergrenzen\nconst outputMin = -800;\nconst outputMax = 800;\n\n// Integratorstatus\nlet integral = context.get(\"integral\") || 0;\nlet newIntegral = integral + fehler * dt;\n\n// PI-Ausgang berechnen (vor Clamping)\nlet output = Kp * fehler + Ki * newIntegral;\n\n// Anti-Windup durch Clamping\nif (output > outputMax) {\n    output = outputMax;\n    if (fehler < 0) integral = newIntegral;\n} else if (output < outputMin) {\n    output = outputMin;\n    if (fehler > 0) integral = newIntegral;\n} else {\n    integral = newIntegral;\n}\n\n// Zustand speichern\ncontext.set(\"integral\", integral);\n\n// Ausgang setzen\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 680,
        "wires": [
            [
                "c16c49d844da8f7d"
            ]
        ]
    },
    {
        "id": "82d52424e7f2150f",
        "type": "change",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Übersetzung auf deutsch",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "discharge",
                "fromt": "str",
                "to": "Entladen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "charge",
                "fromt": "str",
                "to": "Laden",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "standby",
                "fromt": "str",
                "to": "Ruhezustand",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "51cb6ee539b9c7b8"
            ]
        ]
    },
    {
        "id": "05997e16089294a2",
        "type": "comment",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "Speicher 1",
        "info": "",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd563ee8b25777cf",
        "type": "comment",
        "z": "2362f8b66fc6bf89",
        "g": "da7159b5cfbbcdfd",
        "name": "Node-RED Installationshinweis bitte lesen",
        "info": "1.)\nEs müssen folgende Node-RED Paletten installiert werden:\nnode-red-contrib-shelly\nnode-red-dashboard\nnode-red-contrib-simple-gate\nnode-red-contrib-ui-time-scheduler\n\n2.)\nDie IP Adressen für den MQTT Broker und den Shelly 3PRO EM müssen angepasst werden.\n\n3.)\nDie Seriennummer des Hoymiles Speichers muss in den MQTT Nodes angepasst werden.\n\n4.)\nMQTT in der Hoymiles App aktivieren.",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "daea5b38251b0929",
        "type": "function",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "854fd748f72e3ba7"
            ]
        ]
    },
    {
        "id": "850aff40ceb20273",
        "type": "function",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "8ea47a8c897a6b5b"
            ]
        ]
    },
    {
        "id": "2b6c6e06e73538de",
        "type": "function",
        "z": "2362f8b66fc6bf89",
        "g": "a367e549755c0d7e",
        "name": "string to number",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "9b3cba05d8068a68"
            ]
        ]
    },
    {
        "id": "74b67021b468cefb",
        "type": "comment",
        "z": "2362f8b66fc6bf89",
        "g": "da7159b5cfbbcdfd",
        "name": "Hoymiles MSA Micro Storage MQTT Protocol Development Guide",
        "info": "# Hoymiles MSA Micro Storage MQTT Protocol Development Guide\n\n### 1. Basic Configuration information (Device Release)\n*Publish immediately after the device is connected for device discovery.*\n\n**topic:**  \n`homeassistant/switch/<dev_id>/config`\n\n**payload:**  \n```json\n{\n    \"state_topic\": \"homeassistant/sensor/<dev_id>/device/state\",\n    \"command_topic\": \"homeassistant/switch/<dev_id>/set\",\n    \"json_attributes_topic\": \"homeassistant/sensor/<dev_id>/attributes\",\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n        \"identifiers\": [\"<id>\"], \n        \"name\": \"<dev_id>\", \n        \"manufacturer\": \"Hoymiles\", \n        \"model\": \"MS-A2\",\n        \"sw_version\": \"1.0.0\" \n    }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 2. Basic Attribute Information (Device Release)\n*Publish immediately after device connection for theme synchronization.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/attributes`\n\n**payload:**  \n```json\n{\n    \"supported_topics\": {\n    \"quick_state\": \"homeassistant/sensor/<dev_id>/quick/state\",\n    \"device_state\": \"homeassistant/sensor/<dev_id>/device/state\",\n    \"system_state\": \"homeassistant/sensor/<dev_id>/system/state\",\n    \"switch_ctrl\": \"homeassistant/switch/<dev_id>/set\",\n    \"ems_mode\": \"homeassistant/select/<dev_id>/ems_mode/command\",\n    \"power_ctrl\": \"homeassistant/number/<dev_id>/power_ctrl/set\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n**note:**  \n`supported_topics` : indicates the topics that the device supports publishing and subscribing.  \n`quick_state` : Topics published by the device for quick updates of the device itself and system status, see Section 10.  \n`device_state` : A topic published by the device for timed updates of the device's own state, see Section 11.  \n`system_state` : The topic published by the device for the scheduled update of the system state, see Section 12.  \n`switch_ctrl` : The topic that the device responds to for device on/off control, see Section 7.  \n`ems_mode` : The topic that the device responds to for setting the EMS mode, see Section 8.  \n`power_ctrl` : The topic that the device responds to for controlling power, see Section 9.  \n\n### 3. EMS Mode configuration (Device Release)\n*Publish immediately after the device is connected to notify of power control rules. This topic is only supported for host and standalone devices.*\n\n**topic:**  \n`homeassistant/select/<dev_id>/ems_mode/config`\n\n**payload:**  \n```json\n{\n    \"command_topic\": \"homeassistant/select/<dev_id>/ems_mode/command\",\n    \"options\": [\"general\", \"mqtt_ctrl\"],\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n**note:**  \n`options` : System EMS mode (` general` : default, when enabled, the device manages energy through inherent logic, `mqtt_ctrl` : When enabled, the device responds to mqtt instructions to control power, which can be managed through the `homeassistant/number/<dev_id>/power_ctrl/set` topic) \n\n### 4. Power Control configuration (Device release)\n*Publish immediately after the device is connected to notify of power control rules. This topic is only supported on host and standalone devices.*\n\n**topic:**  \n`homeassistant/number/<dev_id>/power_ctrl/config`\n\n**payload:**  \n```json\n{\n    \"name\": null,\n    \"command_topic\": \"homeassistant/number/<dev_id>/power_ctrl/set\",\n    \"device_class\": \"power\",\n    \"unit_of_measurement\": \"w\",\n    \"min\": -1000,\n    \"max\": 1000,\n    \"step\": 0.1,\n    \"unique_id\": \"<dev_id>\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 5. Battery Level Information Display configuration (Device Release)\n*Publish immediately after the device is connected for configuration of battery display information.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/soc/config`\n\n**payload:**  \n```json\n{\n    \"name\": \"soc\", \n    \"state_topic\": \"homeassistant/sensor/<dev_id>/quick/state\", \n    \"value_template\": \"{{ value_json.soc }}\",\n    \"device_class\": \"battery\",\n    \"unit_of_measurement\": \"%\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 6. Battery charge and Discharge power display configuration (Device Release)\n*Publish immediately after the device is connected for power display information configuration.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/bat_p/config`\n\n**payload:**  \n```json\n{\n    \"name\": \"bat_power\", \n    \"state_topic\": \"homeassistant/sensor/<dev_id>/quick/state\", \n    \"value_template\": \"{{ value_json.bat_p }}\",\n    \"device_class\": \"power\",\n    \"unit_of_measurement\": \"W\",\n    \"device\": {\n    \"identifiers\": [\"<id>\"], \n    \"name\": \"<dev_id>\", \n    \"manufacturer\": \"Hoymiles\", \n    \"model\": \"MS-A2\" \n }\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`true`\n\n### 7. Power On/Off Control (Device Subscription) [Reserved Feature]\n*Device subscription and response, not supported for now.*\n\n**topic:**  \n`homeassistant/switch/<dev_id>/set`\n\n**payload:**  \n`ON`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nTypes that can be set in the `payload` include `ON` and `OFF`.\n\n### 8. EMS mode (Device Subscription)\n*Device subscribe and respond, this topic is only supported on host and standalone.*\n\n**topic:**  \n`homeassistant/select/<dev_id>/ems_mode/command`\n\n**payload:**  \n`mqtt_ctrl`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nSee `options` in the`homeassistant/select/<dev_id>/ems_mode/config`topic in the`payload`.\n\n### 9. Power Control (Device Subscription)\n*Device subscribe and respond, this topic is only supported on host and standalone.*\n\n**topic:**  \n`homeassistant/number/<dev_id>/power_ctrl/set`\n\n**payload:**  \n`80.0`\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \nSee `min` and `max` in the `homeassistant/number/<dev_id>/power_ctrl/config` theme.\n\n### 10. Second-level data (Device publishing)\n*The device is released at intervals of 1 second, including the device and system.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/quick/state`\n\n**payload:**  \n```json\n{\n \"grid_on_p\": 0.1,\n \"grid_off_p\": 0.1,\n \"bat_sts\": \"standby\",\n \"bat_p\": 0.1,\n \"soc\": 0.01,\n \"sys_pv_p\": 0.1,\n \"sys_plug_p\": 0.1,\n \"sys_bat_p\": 0.1,\n \"sys_grid_p\": 0.1,\n \"sys_load_p\": 0.1,\n \"sys_sp_p\": 0.1,\n \"sys_soc\": 0.01\n}\n```\n\n**qos:**  \n` 0 `\n\n**retain:**  \n`false`\n\n**note:**  \n`grid_on_p` : Active power of the device connected to the grid-on port (minimum unit: 0.1W)  \n`grid_off_p` : Active power of the device away from the grid-off port (minimum unit: 0.1W)  \n`bat_sts` : Device battery status (`standby` : Standby, `charge` : charging, `discharge` : discharging, `lock` : locked)  \n`bat_p` : Device battery power (minimum unit: 0.1W)  \n`soc` : Remaining battery power of the device (minimum unit: 0.01%)  \n`sys_pv_p` : System photovoltaic power (minimum unit: 0.1W)  \n`sys_plug_p` : System socket power (minimum unit: 0.1W)  \n`sys_bat_p` : System battery power (minimum unit: 0.1W)  \n`sys_grid_p` : System grid power (minimum unit: 0.1W)  \n`sys_load_p` : System load power (minimum unit: 0.1W)  \n`sys_sp_p` : System smart socket power (minimum unit: 0.1W)  \n`sys_soc` : System battery power (minimum unit: 0.01%)  \n\n### 11. Device real-time Data (Device Release)\n*Devices are published at intervals of 5 minutes.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/device/state`\n\n**payload:**  \n```json\n{\n    \"grid\":[\n    {\n        \"type\": \"grid_on\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"f\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    },\n    {\n        \"type\": \"grid_off\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"f\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    },\n    {\n        \"type\": \"inv\",\n        \"v\": 0.1,\n        \"i\": 0.01,\n        \"p\": 0.1,\n        \"q\": 0.1,\n        \"ein\": 1,\n        \"eout\": 1,\n        \"etin\": 1,\n        \"etout\": 1\n    }],\n\n    \"bat_sts\": \"standby\",\n    \"bat_v\": 0.01,\n    \"bat_i\": 0.01,\n    \"bat_p\": 0.1,\n    \"bat_temp\": 0.1,\n    \"soc\": 0.01,\n    \"rssi\": -10\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \n`type` : equipment port type (`grid_on` : and so, `grid_off` : so, `inv` : inverter)  \n`v` : Device port voltage (minimum unit: 0.1V)  \n`i` : Device port current (minimum unit: 0.01A)  \n`f` : Device port frequency (minimum unit: 0.01Hz)  \n`p` : Active power of the device port (minimum unit: 0.1W)  \n`q` : Device port reactive power (minimum unit: 0.1VAR)  \n`ein` : Device port input power of the day (minimum unit: 1Wh)  \n`eout` : Device port output power of the day (minimum unit: 1Wh)  \n`etin` : Historical cumulative input power of the device port (minimum unit: 1Wh)  \n`etout` : Historical cumulative output power of device ports (minimum unit: 1Wh)  \n`bat_sts` : Device battery status (`standby` : on standby, `charge` : charging, `discharge` : discharging, `lock` : locked)  \n`bat_v` : Device battery voltage (minimum unit: 0.01V)  \n`bat_i` : Device battery current (minimum unit: 0.01A)  \n`bat_p` : Device battery power (minimum unit: 0.1W)  \n`bat_temp` : Device battery temperature (minimum unit: 0.1 ° C)  \n`soc` : Remaining battery power of the device (minimum unit: 0.01%)  \n`rssi` : Device signal value (minimum unit: 1dBm)  \n\n### 12. System real-time data (Device release)\n*Devices are released at intervals of 5 minutes. This topic is only available for host and standalone devices.*\n\n**topic:**  \n`homeassistant/sensor/<dev_id>/system/state`\n\n**payload:**  \n```json\n{\n    \"pv_p\": 0.1,\n    \"plug_p\": 0.1,\n    \"bat_p\": 0.1,\n    \"grid_p\": 0.1,\n    \"load_p\": 0.1,\n    \"sp_p\": 0.1,\n    \"soc\": 0.01,\n    \"pv_e\": 1,\n    \"dchg_e\": 1,\n    \"chg_e\": 1,\n    \"plug_out_e\": 1,\n    \"plug_in_e\": 1,\n \n    \"ems_mode\": \"general\"\n}\n```\n\n**qos:**  \n`1`\n\n**retain:**  \n`false`\n\n**note:**  \n`pv_p` : System photovoltaic power (minimum unit: 0.1W)  \n`plug_p` : System socket power (minimum unit: 0.1W)  \n`bat_p` : System battery power (minimum unit: 0.1W)  \n`grid_p` : System grid power (minimum unit: 0.1W)  \n`load_p` : System load power (minimum unit: 0.1W)  \n`sp_p` : System smart socket power (minimum unit: 0.1W)  \n`soc` : System battery power (minimum unit: 0.01%)  \n`pv_e` : Photovoltaic power generation of the system on the day (minimum unit: 1Wh)  \n`dchg_e` : Battery side discharge capacity of the system for the day (minimum unit: 1Wh)  \n`chg_e` : System charge on the battery side for the day (minimum unit: 1Wh)  \n`plug_out_e` : System output of grid-connected sockets on the day (minimum unit: 1Wh)  \n`plug_in_e` : System grid-connected socket input power of the day (minimum unit: 1Wh)  \n`ems_mode` : The current EMS mode of the system (`general`: power controlled by the device itself,`mqtt_ctrl`: Power controlled by mqtt commands) ",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fe3ac6adcf287e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.206",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8eca502d9e109fdb",
        "type": "ui_group",
        "name": "Speicher 1",
        "tab": "3dbc2bc348a4cead",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dbc2bc348a4cead",
        "type": "ui_tab",
        "name": "Hoymiles",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]
